USE [ARC]
GO
/****** Object:  Table [dbo].[form_query]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[form_query](
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[father_name] [nvarchar](30) COLLATE Arabic_CI_AS NULL,
	[age] [nvarchar](2) COLLATE Arabic_CI_AS NULL CONSTRAINT [DF_form_query_age]  DEFAULT ((0)),
	[city] [nvarchar](20) COLLATE Arabic_CI_AS NULL,
	[id_no] [nvarchar](10) COLLATE Arabic_CI_AS NULL,
	[masrafi_type] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[d1] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d133]  DEFAULT (N'غ'),
	[d2] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d132]  DEFAULT (N'غ'),
	[d3] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d131]  DEFAULT (N'غ'),
	[d4] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d130]  DEFAULT (N'غ'),
	[d5] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d129]  DEFAULT (N'غ'),
	[d6] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d128]  DEFAULT (N'غ'),
	[d7] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d127]  DEFAULT (N'غ'),
	[d8] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d126]  DEFAULT (N'غ'),
	[d9] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d125]  DEFAULT (N'غ'),
	[d10] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d124]  DEFAULT (N'غ'),
	[d11] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d123]  DEFAULT (N'غ'),
	[d12] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d122]  DEFAULT (N'غ'),
	[d13] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d121]  DEFAULT (N'غ'),
	[d14] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d120]  DEFAULT (N'غ'),
	[d15] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d119]  DEFAULT (N'غ'),
	[d16] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d118]  DEFAULT (N'غ'),
	[d17] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d117]  DEFAULT (N'غ'),
	[d18] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d116]  DEFAULT (N'غ'),
	[d19] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d115]  DEFAULT (N'غ'),
	[d20] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d114]  DEFAULT (N'غ'),
	[d21] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d113]  DEFAULT (N'غ'),
	[d22] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d112]  DEFAULT (N'غ'),
	[d23] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d111]  DEFAULT (N'غ'),
	[d24] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d110]  DEFAULT (N'غ'),
	[d25] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d19]  DEFAULT (N'غ'),
	[d26] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d18]  DEFAULT (N'غ'),
	[d27] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d17]  DEFAULT (N'غ'),
	[d28] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d16]  DEFAULT (N'غ'),
	[d29] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d15]  DEFAULT (N'غ'),
	[d30] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d14]  DEFAULT (N'غ'),
	[d31] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_form_query_d13]  DEFAULT (N'غ'),
	[majmoo] [nvarchar](5) COLLATE Arabic_CI_AS NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sick_history]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sick_history](
	[radif] [bigint] NOT NULL CONSTRAINT [DF_sick_history_radif]  DEFAULT ((0)),
	[ghabz_id] [nchar](6) COLLATE Arabic_CI_AS NULL,
	[sick_id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[sharh] [nvarchar](100) COLLATE Arabic_CI_AS NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[bedehkari] [bigint] NULL CONSTRAINT [DF_sick_history_bedehkari]  DEFAULT ((0)),
	[bestankari] [bigint] NULL CONSTRAINT [DF_sick_history_bestankari]  DEFAULT ((0)),
	[tashkhis] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[mandeh] [bigint] NULL CONSTRAINT [DF_sick_history_mandeh]  DEFAULT ((0)),
 CONSTRAINT [PK_sick_history] PRIMARY KEY CLUSTERED 
(
	[radif] ASC,
	[sick_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peygiri]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peygiri](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[peygiriNo] [bigint] NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[comments] [nvarchar](max) COLLATE Arabic_CI_AS NULL,
	[natijeh] [nvarchar](max) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_peygiri] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peygiri_real]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peygiri_real](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[peygiriNo] [bigint] NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[comments] [nvarchar](max) COLLATE Arabic_CI_AS NULL,
	[natijeh] [nvarchar](max) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_peygiri_real] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dastoor_pezeshk_real]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dastoor_pezeshk_real](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[doctor_name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[pre_text] [nvarchar](max) COLLATE Arabic_CI_AS NULL,
	[azmayesh] [nvarchar](60) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_dastoor_pezeshk_real] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[azmayesh_real]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[azmayesh_real](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[type] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[result] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[comments] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_azmayesh_real] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ravanshenas_real]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ravanshenas_real](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[doctor_name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[next_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[comments] [nvarchar](max) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_ravanshenas_real] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ravanshenas]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ravanshenas](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[doctor_name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[next_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[comments] [nvarchar](max) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_ravanshenas] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sicks]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sicks](
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[payan_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[father_name] [nvarchar](30) COLLATE Arabic_CI_AS NULL,
	[age] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_Customers_bedehkar]  DEFAULT ((0)),
	[city] [nvarchar](20) COLLATE Arabic_CI_AS NOT NULL,
	[id_no] [nvarchar](10) COLLATE Arabic_CI_AS NULL,
	[sex] [nchar](4) COLLATE Arabic_CI_AS NULL CONSTRAINT [DF_Sicks_sex]  DEFAULT (N'مذکر'),
	[home] [nvarchar](11) COLLATE Arabic_CI_AS NULL CONSTRAINT [DF_Sicks_home]  DEFAULT (N'مذکر'),
	[mobile] [nvarchar](11) COLLATE Arabic_CI_AS NULL,
	[masrafi_type] [nvarchar](150) COLLATE Arabic_CI_AS NOT NULL,
	[ravesh_tark] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[address] [nvarchar](100) COLLATE Arabic_CI_AS NULL,
	[hesab] [bigint] NOT NULL CONSTRAINT [DF_Sicks_hesab]  DEFAULT ((0)),
	[status] [nvarchar](8) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_Sicks_status]  DEFAULT (N'بدهکار'),
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[anbar]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anbar](
	[daru_name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[mandeh] [float] NOT NULL CONSTRAINT [DF_anbar_mandeh]  DEFAULT ((0)),
	[vahed] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_anbar] PRIMARY KEY CLUSTERED 
(
	[daru_name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factors]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factors](
	[factor_no] [nvarchar](15) COLLATE Arabic_CI_AS NOT NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[daru_name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[tedad] [float] NOT NULL,
	[fee] [bigint] NULL,
	[fee_kol] [bigint] NULL,
	[masraf_price] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tahvil]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tahvil](
	[code] [bigint] NOT NULL,
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[ravesh_tark] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[tahvil_day] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[tahvil_date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[daru_name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_tahvil_m5]  DEFAULT ((0)),
	[tedad] [float] NOT NULL CONSTRAINT [DF_tahvil_m20]  DEFAULT ((0)),
 CONSTRAINT [PK_tahvil_1] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[id] ASC,
	[date] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tahvil_koli]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tahvil_koli](
	[code] [bigint] NOT NULL CONSTRAINT [DF_tahvil_koli_code]  DEFAULT ((0)),
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[ravesh_tark] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[tahvil_day] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[tahvil_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[from_date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[to_date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[daru_name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_tahvil_koli_daru_name]  DEFAULT ((0)),
	[tedad] [float] NOT NULL CONSTRAINT [DF_tahvil_koli_tedad]  DEFAULT ((0)),
 CONSTRAINT [PK_tahvil_koli] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acc]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc](
	[user_code] [nvarchar](2) COLLATE Arabic_CI_AS NOT NULL,
	[pass] [nvarchar](8) COLLATE Arabic_CI_AS NULL,
	[fname] [nvarchar](20) COLLATE Arabic_CI_AS NULL,
	[lname] [nvarchar](30) COLLATE Arabic_CI_AS NULL,
	[tel] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[address] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[semat] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_acc] PRIMARY KEY CLUSTERED 
(
	[user_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Darmangah]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Darmangah](
	[name] [nvarchar](30) COLLATE Arabic_CI_AS NOT NULL,
	[tel] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[address] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[photo] [image] NULL,
 CONSTRAINT [PK_Sherkat2] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tajviz]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz](
	[code] [bigint] NOT NULL,
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[ravesh_tark] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[tajviz_day] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[tajviz_date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[daru_name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_tajviz_daru_name]  DEFAULT ((0)),
	[tedad] [float] NOT NULL CONSTRAINT [DF_tajviz_tedad]  DEFAULT ((0)),
 CONSTRAINT [PK_tajviz] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[id] ASC,
	[date] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tajviz_koli]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz_koli](
	[code] [bigint] NOT NULL CONSTRAINT [DF_tajviz_koli_code]  DEFAULT ((0)),
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[ravesh_tark] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[tajviz_day] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[tajviz_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[from_date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[to_date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[daru_name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL CONSTRAINT [DF_tajviz_koli_daru_name]  DEFAULT ((0)),
	[tedad] [float] NOT NULL CONSTRAINT [DF_tajviz_koli_tedad]  DEFAULT ((0)),
 CONSTRAINT [PK_tajviz_koli] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tajviz_factors]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz_factors](
	[factor_no] [nvarchar](15) COLLATE Arabic_CI_AS NOT NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[daru_name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[tedad] [float] NOT NULL,
	[fee] [bigint] NULL,
	[fee_kol] [bigint] NULL,
	[masraf_price] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tajviz_anbar]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz_anbar](
	[daru_name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[mandeh] [float] NOT NULL CONSTRAINT [DF_tajviz_anbar_mandeh]  DEFAULT ((0)),
	[vahed] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_tajviz_anbar] PRIMARY KEY CLUSTERED 
(
	[daru_name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ghabz]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ghabz](
	[ghabz_id] [nchar](6) COLLATE Arabic_CI_AS NOT NULL,
	[id] [nchar](4) COLLATE Arabic_CI_AS NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[mablagh] [bigint] NOT NULL CONSTRAINT [DF_ghabz_mablagh]  DEFAULT ((0)),
	[paid] [bigint] NULL,
	[sharh] [nvarchar](100) COLLATE Arabic_CI_AS NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_ghabz] PRIMARY KEY CLUSTERED 
(
	[ghabz_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nemooneh]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nemooneh](
	[context] [nvarchar](max) COLLATE Arabic_CI_AS NOT NULL,
	[type] [nvarchar](20) COLLATE Arabic_CI_AS NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dastoor_pezeshk]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dastoor_pezeshk](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[doctor_name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[pre_text] [nvarchar](max) COLLATE Arabic_CI_AS NULL,
	[azmayesh] [nvarchar](60) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_dastoor_pezeshk] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[azmayesh]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[azmayesh](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[darman_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[type] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[date] [nchar](10) COLLATE Arabic_CI_AS NOT NULL,
	[result] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[comments] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_azmayesh] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Map_BtoG]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Map_BtoG](
	[code] [bigint] NOT NULL,
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[qoverdose] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qb1] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qb2_1] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qb2_2] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qb2_3] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qb2_4] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qb3] [nvarchar](20) COLLATE Arabic_CI_AS NULL,
	[qb4] [nvarchar](30) COLLATE Arabic_CI_AS NULL,
	[qb5] [nvarchar](30) COLLATE Arabic_CI_AS NULL,
	[qb6] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[qb7] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[qb8] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[qb9_1] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qb9_2] [nvarchar](10) COLLATE Arabic_CI_AS NULL,
	[qb9_3] [nvarchar](30) COLLATE Arabic_CI_AS NULL,
	[qc1] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qc2] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qc3] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qc4] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qc5] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qd1] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd2] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd3] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd4] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd5] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd6] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd7] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd8] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd9] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd10] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd11] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd12] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd13] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd14] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd15] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd16] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd17] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd18] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd19] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qd20] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qe1] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qe2] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qe3] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qe4] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qe5] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qe6] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qe7] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qf1] [nchar](4) COLLATE Arabic_CI_AS NULL,
	[qf2] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qf3] [nvarchar](60) COLLATE Arabic_CI_AS NULL,
	[qf4] [nvarchar](60) COLLATE Arabic_CI_AS NULL,
	[qf5] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[qf6] [nvarchar](15) COLLATE Arabic_CI_AS NULL,
	[qg1] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qg2] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[qg3] [nvarchar](3) COLLATE Arabic_CI_AS NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAP_A]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAP_A](
	[code] [bigint] NOT NULL,
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[masrafi_type] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[rooz] [nvarchar](3) COLLATE Arabic_CI_AS NULL CONSTRAINT [DF_MAP_A_rooz]  DEFAULT ((0)),
	[mizan] [nvarchar](3) COLLATE Arabic_CI_AS NULL CONSTRAINT [DF_MAP_A_mizan]  DEFAULT ((0)),
	[tarigheh] [nvarchar](50) COLLATE Arabic_CI_AS NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAP_History]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAP_History](
	[code] [bigint] NOT NULL,
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[masrafi_type] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[start_age] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[rooz] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[masraf_life] [nvarchar](3) COLLATE Arabic_CI_AS NULL,
	[tarigheh] [nvarchar](30) COLLATE Arabic_CI_AS NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mos_list]    Script Date: 07/12/2011 10:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mos_list](
	[code] [bigint] NOT NULL,
	[id] [nchar](4) COLLATE Arabic_CI_AS NOT NULL,
	[name] [nvarchar](50) COLLATE Arabic_CI_AS NOT NULL,
	[home] [nvarchar](11) COLLATE Arabic_CI_AS NULL,
	[mos_date] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[mos_name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[mos_semat] [nvarchar](30) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_mos_list] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_MAP_A_mos_list]    Script Date: 07/12/2011 10:17:22 ******/
ALTER TABLE [dbo].[MAP_A]  WITH CHECK ADD  CONSTRAINT [FK_MAP_A_mos_list] FOREIGN KEY([code])
REFERENCES [dbo].[mos_list] ([code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MAP_A] CHECK CONSTRAINT [FK_MAP_A_mos_list]
GO
/****** Object:  ForeignKey [FK_Map_BtoG_mos_list]    Script Date: 07/12/2011 10:17:22 ******/
ALTER TABLE [dbo].[Map_BtoG]  WITH CHECK ADD  CONSTRAINT [FK_Map_BtoG_mos_list] FOREIGN KEY([code])
REFERENCES [dbo].[mos_list] ([code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Map_BtoG] CHECK CONSTRAINT [FK_Map_BtoG_mos_list]
GO
/****** Object:  ForeignKey [FK_MAP_History_mos_list]    Script Date: 07/12/2011 10:17:22 ******/
ALTER TABLE [dbo].[MAP_History]  WITH CHECK ADD  CONSTRAINT [FK_MAP_History_mos_list] FOREIGN KEY([code])
REFERENCES [dbo].[mos_list] ([code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MAP_History] CHECK CONSTRAINT [FK_MAP_History_mos_list]
GO
/****** Object:  ForeignKey [FK_mos_list_Sicks]    Script Date: 07/12/2011 10:17:22 ******/
ALTER TABLE [dbo].[mos_list]  WITH CHECK ADD  CONSTRAINT [FK_mos_list_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mos_list] CHECK CONSTRAINT [FK_mos_list_Sicks]
GO
