USE [ARC]
GO
/****** Object:  Table [dbo].[ghabz_daftari]    Script Date: 12/25/2012 08:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ghabz_daftari](
	[ghabz_id] [nchar](6) NOT NULL,
	[id] [nchar](4) NULL,
	[name] [nvarchar](50) NULL,
	[mablagh] [bigint] NOT NULL CONSTRAINT [DF_ghabz_daftari_mablagh]  DEFAULT ((0)),
	[paid] [bigint] NOT NULL CONSTRAINT [DF_ghabz_daftari_paid]  DEFAULT ((0)),
	[sharh] [nvarchar](100) NULL,
	[date] [nchar](10) NULL,
 CONSTRAINT [PK_ghabz_daftari] PRIMARY KEY CLUSTERED 
(
	[ghabz_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ghabz_daftari]  WITH CHECK ADD  CONSTRAINT [FK_ghabz_daftari_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ghabz_daftari] CHECK CONSTRAINT [FK_ghabz_daftari_Sicks]