USE [ARC]
GO
/****** Object:  Table [dbo].[black_list]    Script Date: 11/16/2011 15:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[black_list](
	[radif] [bigint] NOT NULL,
	[id] [nchar](4) NOT NULL,
	[name] [nvarchar](50) NULL,
	[sharh] [nvarchar](100) NULL,
 CONSTRAINT [PK_black_list] PRIMARY KEY CLUSTERED 
(
	[radif] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[black_list]  WITH CHECK ADD  CONSTRAINT [FK_black_list_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[black_list] CHECK CONSTRAINT [FK_black_list_Sicks]