USE [ARC]
GO
/****** Object:  Table [dbo].[acc]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc](
	[user_code] [nvarchar](2) NOT NULL,
	[pass] [nvarchar](8) NULL,
	[fname] [nvarchar](20) NULL,
	[lname] [nvarchar](30) NULL,
	[tel] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[semat] [nvarchar](50) NULL,
 CONSTRAINT [PK_acc] PRIMARY KEY CLUSTERED 
(
	[user_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[action_logs]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[action_logs](
	[sharh] [nvarchar](max) NOT NULL,
	[user_code] [nvarchar](2) NOT NULL,
	[user_name] [nvarchar](51) NULL,
	[date] [nchar](10) NOT NULL,
	[time] [nvarchar](15) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[amar_records]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amar_records](
	[date] [nchar](10) NOT NULL,
	[reg_date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[kol_masrafi_daftar] [nvarchar](15) NOT NULL,
	[pookeh] [nvarchar](15) NOT NULL,
	[last_tedad_on_date_daftar] [nvarchar](15) NOT NULL,
	[nowtedad_daftar] [nvarchar](15) NOT NULL,
	[kol_masrafi_sandogh] [nvarchar](15) NOT NULL,
	[last_tedad_on_date_sandogh] [nvarchar](15) NOT NULL,
	[nowtedad_kol] [nvarchar](15) NOT NULL,
	[nowtedad_sandogh] [nvarchar](15) NOT NULL,
	[nowtedad_parastar] [nvarchar](15) NOT NULL,
	[differences] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[anbar]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anbar](
	[daru_name] [nvarchar](50) NOT NULL,
	[mandeh] [float] NOT NULL,
	[vahed] [nvarchar](15) NULL,
	[fee] [bigint] NOT NULL,
 CONSTRAINT [PK_anbar] PRIMARY KEY CLUSTERED 
(
	[daru_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[assessment]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assessment](
	[code] [bigint] NOT NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ass_date] [nchar](10) NOT NULL,
	[q1a] [tinyint] NOT NULL,
	[q1b] [tinyint] NOT NULL,
	[q2a] [tinyint] NOT NULL,
	[q2b] [tinyint] NOT NULL,
	[q2c] [tinyint] NOT NULL,
	[q2d] [tinyint] NOT NULL,
	[q3a] [tinyint] NOT NULL,
	[q3b] [tinyint] NOT NULL,
	[q3c] [tinyint] NOT NULL,
	[q3d] [tinyint] NOT NULL,
	[q4a] [tinyint] NOT NULL,
	[q4b] [tinyint] NOT NULL,
	[q4c] [tinyint] NOT NULL,
	[q4d] [tinyint] NOT NULL,
	[q4e] [tinyint] NOT NULL,
	[sum_all] [tinyint] NOT NULL,
 CONSTRAINT [PK_assessment] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[azmayesh]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[azmayesh](
	[code] [bigint] NOT NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[darman_date] [nchar](10) NULL,
	[type] [nvarchar](50) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[result] [nchar](4) NOT NULL,
	[comments] [varchar](max) NULL,
 CONSTRAINT [PK_azmayesh] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[azmayesh_real]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[azmayesh_real](
	[code] [bigint] NOT NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[darman_date] [nchar](10) NULL,
	[type] [nvarchar](50) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[result] [nchar](4) NOT NULL,
	[comments] [varchar](max) NULL,
 CONSTRAINT [PK_azmayesh_real] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[black_list]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[black_list](
	[radif] [bigint] NOT NULL,
	[id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NULL,
	[sharh] [nvarchar](100) NULL,
 CONSTRAINT [PK_black_list] PRIMARY KEY CLUSTERED 
(
	[radif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [nchar](4) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
 CONSTRAINT [PK_contacts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_anbar]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_anbar](
	[contactid] [nchar](4) NOT NULL,
	[contactname] [nvarchar](100) NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[mandeh] [float] NOT NULL,
	[vahed] [nvarchar](15) NULL,
 CONSTRAINT [PK_contact_anbar] PRIMARY KEY CLUSTERED 
(
	[contactid] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Darmangah]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Darmangah](
	[name] [nvarchar](30) NOT NULL,
	[tel] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[photo] [image] NULL,
	[Gen_Pass] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_Sherkat2] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dastoor_pezeshk]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dastoor_pezeshk](
	[code] [bigint] NOT NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[doctor_name] [nvarchar](50) NULL,
	[darman_date] [nchar](10) NULL,
	[date] [nchar](10) NOT NULL,
	[pre_text] [nvarchar](max) NULL,
	[azmayesh] [nvarchar](60) NULL,
 CONSTRAINT [PK_dastoor_pezeshk] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dastoor_pezeshk_real]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dastoor_pezeshk_real](
	[code] [bigint] NOT NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[doctor_name] [nvarchar](50) NULL,
	[darman_date] [nchar](10) NULL,
	[date] [nchar](10) NOT NULL,
	[pre_text] [nvarchar](max) NULL,
	[azmayesh] [nvarchar](60) NULL,
 CONSTRAINT [PK_dastoor_pezeshk_real] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factors]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factors](
	[code] [bigint] NOT NULL,
	[factor_no] [nvarchar](15) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[tedad] [float] NOT NULL,
	[fee] [bigint] NULL,
	[fee_kol] [bigint] NULL,
	[masraf_price] [bigint] NULL,
	[comments] [nvarchar](250) NULL,
 CONSTRAINT [PK_factors] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_Settings]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_Settings](
	[PayType] [nvarchar](6) NOT NULL,
	[Takhfif_Inc] [nvarchar](3) NOT NULL,
	[DaftariPayType] [nvarchar](6) NOT NULL,
	[BazrasKey] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ghabz]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ghabz](
	[ghabz_id] [nchar](6) NOT NULL,
	[id] [nvarchar](15) NULL,
	[name] [nvarchar](50) NULL,
	[mablagh] [bigint] NOT NULL,
	[paid] [bigint] NOT NULL,
	[sharh] [nvarchar](100) NULL,
	[date] [nchar](10) NULL,
 CONSTRAINT [PK_ghabz] PRIMARY KEY CLUSTERED 
(
	[ghabz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ghabz_daftari]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ghabz_daftari](
	[ghabz_id] [nchar](6) NOT NULL,
	[id] [nvarchar](15) NULL,
	[name] [nvarchar](50) NULL,
	[mablagh] [bigint] NOT NULL,
	[paid] [bigint] NOT NULL,
	[sharh] [nvarchar](100) NULL,
	[date] [nchar](10) NULL,
 CONSTRAINT [PK_ghabz_daftari] PRIMARY KEY CLUSTERED 
(
	[ghabz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hazineh]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hazineh](
	[radif] [bigint] NOT NULL,
	[type] [nvarchar](250) NULL,
	[date] [nchar](10) NULL,
	[mablagh] [bigint] NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_hazineh] PRIMARY KEY CLUSTERED 
(
	[radif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hazineh_types]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hazineh_types](
	[id] [bigint] NOT NULL,
	[htype] [nvarchar](250) NULL,
 CONSTRAINT [PK_hazineh_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAP_A]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAP_A](
	[code] [bigint] NOT NULL,
	[id] [nvarchar](15) NOT NULL,
	[masrafi_type] [nvarchar](50) NULL,
	[rooz] [nvarchar](3) NULL,
	[mizan] [nvarchar](5) NULL,
	[tarigheh] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Map_BtoG]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Map_BtoG](
	[code] [bigint] NOT NULL,
	[id] [nvarchar](15) NOT NULL,
	[qoverdose] [nvarchar](3) NULL,
	[qb1] [nvarchar](3) NULL,
	[qb2_1] [nvarchar](3) NULL,
	[qb2_2] [nvarchar](3) NULL,
	[qb2_3] [nvarchar](3) NULL,
	[qb2_4] [nvarchar](3) NULL,
	[qb3] [nvarchar](20) NULL,
	[qb4] [nvarchar](100) NULL,
	[qb5] [nvarchar](100) NULL,
	[qb6] [nvarchar](50) NULL,
	[qb7] [nvarchar](50) NULL,
	[qb8] [nvarchar](50) NULL,
	[qb9_1] [nvarchar](3) NULL,
	[qb9_2] [nvarchar](10) NULL,
	[qb9_3] [nvarchar](100) NULL,
	[qc1] [nvarchar](3) NULL,
	[qc2] [nvarchar](3) NULL,
	[qc3] [nvarchar](3) NULL,
	[qc4] [nvarchar](3) NULL,
	[qc5] [nvarchar](3) NULL,
	[qd1] [nvarchar](15) NULL,
	[qd2] [nvarchar](15) NULL,
	[qd3] [nvarchar](15) NULL,
	[qd4] [nvarchar](15) NULL,
	[qd5] [nvarchar](15) NULL,
	[qd6] [nvarchar](15) NULL,
	[qd7] [nvarchar](15) NULL,
	[qd8] [nvarchar](15) NULL,
	[qd9] [nvarchar](15) NULL,
	[qd10] [nvarchar](15) NULL,
	[qd11] [nvarchar](15) NULL,
	[qd12] [nvarchar](15) NULL,
	[qd13] [nvarchar](15) NULL,
	[qd14] [nvarchar](15) NULL,
	[qd15] [nvarchar](15) NULL,
	[qd16] [nvarchar](15) NULL,
	[qd17] [nvarchar](15) NULL,
	[qd18] [nvarchar](15) NULL,
	[qd19] [nvarchar](15) NULL,
	[qd20] [nvarchar](15) NULL,
	[qe1] [nvarchar](3) NULL,
	[qe2] [nvarchar](3) NULL,
	[qe3] [nvarchar](3) NULL,
	[qe4] [nvarchar](3) NULL,
	[qe5] [nvarchar](3) NULL,
	[qe6] [nvarchar](3) NULL,
	[qe7] [nvarchar](3) NULL,
	[qf1] [nchar](4) NULL,
	[qf2] [nvarchar](3) NULL,
	[qf3] [nvarchar](60) NULL,
	[qf4] [nvarchar](60) NULL,
	[qf5] [nvarchar](50) NULL,
	[qf6] [nvarchar](15) NULL,
	[qg1] [nvarchar](3) NULL,
	[qg2] [nvarchar](3) NULL,
	[qg3] [nvarchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAP_History]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAP_History](
	[code] [bigint] NOT NULL,
	[id] [nvarchar](15) NOT NULL,
	[masrafi_type] [nvarchar](50) NULL,
	[start_age] [nvarchar](3) NULL,
	[rooz] [nvarchar](3) NULL,
	[masraf_life] [nvarchar](6) NULL,
	[tarigheh] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mos_list]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mos_list](
	[code] [bigint] NOT NULL,
	[id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[home] [nvarchar](11) NULL,
	[mos_date] [nchar](10) NULL,
	[mos_name] [nvarchar](50) NULL,
	[mos_semat] [nvarchar](30) NULL,
 CONSTRAINT [PK_mos_list] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nemooneh]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nemooneh](
	[context] [nvarchar](max) NOT NULL,
	[type] [nvarchar](20) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parastar_anbar]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parastar_anbar](
	[daru_name] [nvarchar](50) NOT NULL,
	[mandeh] [float] NOT NULL,
	[vahed] [nvarchar](15) NULL,
 CONSTRAINT [PK_parastar_anbar] PRIMARY KEY CLUSTERED 
(
	[daru_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peygiri]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peygiri](
	[code] [bigint] NOT NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NULL,
	[peygiriNo] [bigint] NULL,
	[darman_date] [nchar](10) NULL,
	[date] [nchar](10) NULL,
	[comments] [nvarchar](max) NULL,
	[natijeh] [nvarchar](max) NULL,
 CONSTRAINT [PK_peygiri] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peygiri_real]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peygiri_real](
	[code] [bigint] NOT NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NULL,
	[peygiriNo] [bigint] NULL,
	[darman_date] [nchar](10) NULL,
	[date] [nchar](10) NULL,
	[comments] [nvarchar](max) NULL,
	[natijeh] [nvarchar](max) NULL,
 CONSTRAINT [PK_peygiri_real] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ravanshenas]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ravanshenas](
	[code] [bigint] NOT NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[doctor_name] [nvarchar](50) NULL,
	[darman_date] [nchar](10) NULL,
	[date] [nchar](10) NOT NULL,
	[next_date] [nchar](10) NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_ravanshenas] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ravanshenas_real]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ravanshenas_real](
	[code] [bigint] NOT NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[doctor_name] [nvarchar](50) NULL,
	[darman_date] [nchar](10) NULL,
	[date] [nchar](10) NOT NULL,
	[next_date] [nchar](10) NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_ravanshenas_real] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sick_history]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sick_history](
	[radif] [bigint] NOT NULL,
	[ghabz_id] [nchar](6) NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[sharh] [nvarchar](100) NULL,
	[date] [nchar](10) NULL,
	[bedehkari] [bigint] NULL,
	[bestankari] [bigint] NULL,
	[tashkhis] [nvarchar](8) NULL,
	[mandeh] [bigint] NULL,
 CONSTRAINT [PK_sick_history] PRIMARY KEY CLUSTERED 
(
	[radif] ASC,
	[sick_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sick_history_daftari]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sick_history_daftari](
	[radif] [bigint] NOT NULL,
	[ghabz_id] [nchar](6) NULL,
	[sick_id] [nvarchar](15) NOT NULL,
	[sharh] [nvarchar](100) NULL,
	[date] [nchar](10) NULL,
	[bedehkari] [bigint] NULL,
	[bestankari] [bigint] NULL,
	[tashkhis] [nvarchar](8) NULL,
	[mandeh] [bigint] NULL,
 CONSTRAINT [PK_sick_history_daftari] PRIMARY KEY CLUSTERED 
(
	[radif] ASC,
	[sick_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sicks]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sicks](
	[id] [nvarchar](15) NOT NULL,
	[darman_date] [nchar](10) NULL,
	[payan_date] [nchar](10) NULL,
	[name] [nvarchar](50) NOT NULL,
	[father_name] [nvarchar](30) NULL,
	[b_date] [nchar](10) NOT NULL,
	[city] [nvarchar](20) NOT NULL,
	[id_no] [nvarchar](10) NULL,
	[sex] [nchar](4) NULL,
	[home] [nvarchar](11) NULL,
	[mobile] [nvarchar](11) NULL,
	[masrafi_type] [nvarchar](150) NOT NULL,
	[ravesh_tark] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NULL,
	[roozaneh] [bigint] NULL,
	[monthFee] [bigint] NOT NULL,
	[hesab] [bigint] NOT NULL,
	[status] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tahvil]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tahvil](
	[code] [bigint] NOT NULL,
	[id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ravesh_tark] [nvarchar](50) NULL,
	[tahvil_day] [nvarchar](50) NULL,
	[tahvil_date] [nchar](10) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[tedad] [float] NOT NULL,
 CONSTRAINT [PK_tahvil_1] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[id] ASC,
	[date] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tahvil_koli]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tahvil_koli](
	[code] [bigint] NOT NULL,
	[id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ravesh_tark] [nvarchar](50) NULL,
	[tahvil_day] [nvarchar](50) NULL,
	[tahvil_date] [nchar](10) NULL,
	[from_date] [nchar](10) NOT NULL,
	[to_date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[tedad] [float] NOT NULL,
 CONSTRAINT [PK_tahvil_koli] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tajviz]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz](
	[code] [bigint] NOT NULL,
	[id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ravesh_tark] [nvarchar](50) NULL,
	[tajviz_day] [nvarchar](50) NULL,
	[tajviz_date] [nchar](10) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[tedad] [float] NOT NULL,
 CONSTRAINT [PK_tajviz] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[id] ASC,
	[date] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tajviz_anbar]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz_anbar](
	[daru_name] [nvarchar](50) NOT NULL,
	[mandeh] [float] NOT NULL,
	[vahed] [nvarchar](15) NULL,
	[fee] [bigint] NOT NULL,
 CONSTRAINT [PK_tajviz_anbar] PRIMARY KEY CLUSTERED 
(
	[daru_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tajviz_anbar_history]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz_anbar_history](
	[id] [bigint] NOT NULL,
	[contactid] [nchar](4) NOT NULL,
	[contactname] [nvarchar](100) NULL,
	[date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[tedad] [float] NOT NULL,
	[comments] [nvarchar](250) NULL,
 CONSTRAINT [PK_tajviz_anbar_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tajviz_factors]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz_factors](
	[code] [bigint] NOT NULL,
	[factor_no] [nvarchar](15) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[tedad] [float] NOT NULL,
	[fee] [bigint] NULL,
	[fee_kol] [bigint] NULL,
	[masraf_price] [bigint] NULL,
	[comments] [nvarchar](250) NULL,
 CONSTRAINT [PK_tajviz_factors] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tajviz_koli]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz_koli](
	[code] [bigint] NOT NULL,
	[id] [nvarchar](15) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ravesh_tark] [nvarchar](50) NULL,
	[tajviz_day] [nvarchar](50) NULL,
	[tajviz_date] [nchar](10) NULL,
	[from_date] [nchar](10) NOT NULL,
	[to_date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[tedad] [float] NOT NULL,
 CONSTRAINT [PK_tajviz_koli] PRIMARY KEY CLUSTERED 
(
	[code] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[takhfif]    Script Date: 2020-09-28 12:21:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[takhfif](
	[radif] [bigint] NOT NULL,
	[start_range] [smallint] NOT NULL,
	[end_range] [smallint] NOT NULL,
	[takhfif_percent] [smallint] NOT NULL,
 CONSTRAINT [PK_takhfif] PRIMARY KEY CLUSTERED 
(
	[radif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_kol_masrafi_daftar]  DEFAULT ((0)) FOR [kol_masrafi_daftar]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_pookeh]  DEFAULT ((0)) FOR [pookeh]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_last_tedad_on_date_daftar]  DEFAULT ((0)) FOR [last_tedad_on_date_daftar]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_nowtedad_daftar]  DEFAULT ((0)) FOR [nowtedad_daftar]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_kol_masrafi_sandogh]  DEFAULT ((0)) FOR [kol_masrafi_sandogh]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_last_tedad_on_date_sandogh]  DEFAULT ((0)) FOR [last_tedad_on_date_sandogh]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_nowtedad_kol]  DEFAULT ((0)) FOR [nowtedad_kol]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_nowtedad_sandogh]  DEFAULT ((0)) FOR [nowtedad_sandogh]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_nowtedad_parastar]  DEFAULT ((0)) FOR [nowtedad_parastar]
GO
ALTER TABLE [dbo].[amar_records] ADD  CONSTRAINT [DF_amar_records_difference]  DEFAULT ((0)) FOR [differences]
GO
ALTER TABLE [dbo].[anbar] ADD  CONSTRAINT [DF_anbar_mandeh]  DEFAULT ((0)) FOR [mandeh]
GO
ALTER TABLE [dbo].[anbar] ADD  CONSTRAINT [DF_anbar_fee]  DEFAULT ((0)) FOR [fee]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q1a]  DEFAULT ((0)) FOR [q1a]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q1b]  DEFAULT ((0)) FOR [q1b]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q2a]  DEFAULT ((0)) FOR [q2a]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q2b]  DEFAULT ((0)) FOR [q2b]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q2c]  DEFAULT ((0)) FOR [q2c]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q2d]  DEFAULT ((0)) FOR [q2d]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q3a]  DEFAULT ((0)) FOR [q3a]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q3b]  DEFAULT ((0)) FOR [q3b]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q3c]  DEFAULT ((0)) FOR [q3c]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q3d]  DEFAULT ((0)) FOR [q3d]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q4a]  DEFAULT ((0)) FOR [q4a]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q4b]  DEFAULT ((0)) FOR [q4b]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q4c]  DEFAULT ((0)) FOR [q4c]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q4d]  DEFAULT ((0)) FOR [q4d]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_q4e]  DEFAULT ((0)) FOR [q4e]
GO
ALTER TABLE [dbo].[assessment] ADD  CONSTRAINT [DF_assessment_sum_all]  DEFAULT ((0)) FOR [sum_all]
GO
ALTER TABLE [dbo].[contact_anbar] ADD  CONSTRAINT [DF_contact_anbar_mandeh]  DEFAULT ((0)) FOR [mandeh]
GO
ALTER TABLE [dbo].[Darmangah] ADD  CONSTRAINT [DF_Darmangah_Gen_Pass]  DEFAULT ((12345678)) FOR [Gen_Pass]
GO
ALTER TABLE [dbo].[Gen_Settings] ADD  CONSTRAINT [DF_Gen_Settings_PayType]  DEFAULT (N'روزانه') FOR [PayType]
GO
ALTER TABLE [dbo].[Gen_Settings] ADD  CONSTRAINT [DF_Gen_Settings_Takhfif_Inc]  DEFAULT (N'بلی') FOR [Takhfif_Inc]
GO
ALTER TABLE [dbo].[Gen_Settings] ADD  CONSTRAINT [DF_Gen_Settings_DaftariPayType]  DEFAULT (N'ماهانه') FOR [DaftariPayType]
GO
ALTER TABLE [dbo].[Gen_Settings] ADD  CONSTRAINT [DF_Gen_Settings_BazrasKey]  DEFAULT (N'F12') FOR [BazrasKey]
GO
ALTER TABLE [dbo].[ghabz] ADD  CONSTRAINT [DF_ghabz_mablagh]  DEFAULT ((0)) FOR [mablagh]
GO
ALTER TABLE [dbo].[ghabz] ADD  CONSTRAINT [DF_ghabz_paid]  DEFAULT ((0)) FOR [paid]
GO
ALTER TABLE [dbo].[ghabz_daftari] ADD  CONSTRAINT [DF_ghabz_daftari_mablagh]  DEFAULT ((0)) FOR [mablagh]
GO
ALTER TABLE [dbo].[ghabz_daftari] ADD  CONSTRAINT [DF_ghabz_daftari_paid]  DEFAULT ((0)) FOR [paid]
GO
ALTER TABLE [dbo].[MAP_A] ADD  CONSTRAINT [DF_MAP_A_rooz]  DEFAULT ((0)) FOR [rooz]
GO
ALTER TABLE [dbo].[MAP_A] ADD  CONSTRAINT [DF_MAP_A_mizan]  DEFAULT ((0)) FOR [mizan]
GO
ALTER TABLE [dbo].[parastar_anbar] ADD  CONSTRAINT [DF_parastar_anbar_mandeh]  DEFAULT ((0)) FOR [mandeh]
GO
ALTER TABLE [dbo].[sick_history] ADD  CONSTRAINT [DF_sick_history_radif]  DEFAULT ((0)) FOR [radif]
GO
ALTER TABLE [dbo].[sick_history] ADD  CONSTRAINT [DF_sick_history_bedehkari]  DEFAULT ((0)) FOR [bedehkari]
GO
ALTER TABLE [dbo].[sick_history] ADD  CONSTRAINT [DF_sick_history_bestankari]  DEFAULT ((0)) FOR [bestankari]
GO
ALTER TABLE [dbo].[sick_history] ADD  CONSTRAINT [DF_sick_history_mandeh]  DEFAULT ((0)) FOR [mandeh]
GO
ALTER TABLE [dbo].[sick_history_daftari] ADD  CONSTRAINT [DF_sick_history_daftari_radif]  DEFAULT ((0)) FOR [radif]
GO
ALTER TABLE [dbo].[sick_history_daftari] ADD  CONSTRAINT [DF_sick_history_daftari_bedehkari]  DEFAULT ((0)) FOR [bedehkari]
GO
ALTER TABLE [dbo].[sick_history_daftari] ADD  CONSTRAINT [DF_sick_history_daftari_bestankari]  DEFAULT ((0)) FOR [bestankari]
GO
ALTER TABLE [dbo].[sick_history_daftari] ADD  CONSTRAINT [DF_sick_history_daftari_mandeh]  DEFAULT ((0)) FOR [mandeh]
GO
ALTER TABLE [dbo].[Sicks] ADD  CONSTRAINT [DF_Customers_bedehkar]  DEFAULT ((0)) FOR [b_date]
GO
ALTER TABLE [dbo].[Sicks] ADD  CONSTRAINT [DF_Sicks_sex]  DEFAULT (N'مذکر') FOR [sex]
GO
ALTER TABLE [dbo].[Sicks] ADD  CONSTRAINT [DF_Sicks_home]  DEFAULT (N'مذکر') FOR [home]
GO
ALTER TABLE [dbo].[Sicks] ADD  CONSTRAINT [DF_Sicks_roozaneh]  DEFAULT ((0)) FOR [roozaneh]
GO
ALTER TABLE [dbo].[Sicks] ADD  CONSTRAINT [DF_Sicks_monthFee]  DEFAULT ((0)) FOR [monthFee]
GO
ALTER TABLE [dbo].[Sicks] ADD  CONSTRAINT [DF_Sicks_hesab]  DEFAULT ((0)) FOR [hesab]
GO
ALTER TABLE [dbo].[Sicks] ADD  CONSTRAINT [DF_Sicks_status]  DEFAULT (N'بدهکار') FOR [status]
GO
ALTER TABLE [dbo].[tahvil] ADD  CONSTRAINT [DF_tahvil_m5]  DEFAULT ((0)) FOR [daru_name]
GO
ALTER TABLE [dbo].[tahvil] ADD  CONSTRAINT [DF_tahvil_m20]  DEFAULT ((0)) FOR [tedad]
GO
ALTER TABLE [dbo].[tahvil_koli] ADD  CONSTRAINT [DF_tahvil_koli_code]  DEFAULT ((0)) FOR [code]
GO
ALTER TABLE [dbo].[tahvil_koli] ADD  CONSTRAINT [DF_tahvil_koli_daru_name]  DEFAULT ((0)) FOR [daru_name]
GO
ALTER TABLE [dbo].[tahvil_koli] ADD  CONSTRAINT [DF_tahvil_koli_tedad]  DEFAULT ((0)) FOR [tedad]
GO
ALTER TABLE [dbo].[tajviz] ADD  CONSTRAINT [DF_tajviz_daru_name]  DEFAULT ((0)) FOR [daru_name]
GO
ALTER TABLE [dbo].[tajviz] ADD  CONSTRAINT [DF_tajviz_tedad]  DEFAULT ((0)) FOR [tedad]
GO
ALTER TABLE [dbo].[tajviz_anbar] ADD  CONSTRAINT [DF_tajviz_anbar_mandeh]  DEFAULT ((0)) FOR [mandeh]
GO
ALTER TABLE [dbo].[tajviz_anbar] ADD  CONSTRAINT [DF_tajviz_anbar_fee]  DEFAULT ((0)) FOR [fee]
GO
ALTER TABLE [dbo].[tajviz_anbar_history] ADD  CONSTRAINT [DF_tajviz_anbar_history_contactid]  DEFAULT ((0)) FOR [contactid]
GO
ALTER TABLE [dbo].[tajviz_anbar_history] ADD  CONSTRAINT [DF_tajviz_anbar_history_contactname]  DEFAULT (N'پرستار') FOR [contactname]
GO
ALTER TABLE [dbo].[tajviz_koli] ADD  CONSTRAINT [DF_tajviz_koli_code]  DEFAULT ((0)) FOR [code]
GO
ALTER TABLE [dbo].[tajviz_koli] ADD  CONSTRAINT [DF_tajviz_koli_daru_name]  DEFAULT ((0)) FOR [daru_name]
GO
ALTER TABLE [dbo].[tajviz_koli] ADD  CONSTRAINT [DF_tajviz_koli_tedad]  DEFAULT ((0)) FOR [tedad]
GO
ALTER TABLE [dbo].[takhfif] ADD  CONSTRAINT [DF_takhfif_start_range]  DEFAULT ((0)) FOR [start_range]
GO
ALTER TABLE [dbo].[takhfif] ADD  CONSTRAINT [DF_takhfif_end_range]  DEFAULT ((0)) FOR [end_range]
GO
ALTER TABLE [dbo].[takhfif] ADD  CONSTRAINT [DF_takhfif_takhfif]  DEFAULT ((0)) FOR [takhfif_percent]
GO
ALTER TABLE [dbo].[assessment]  WITH CHECK ADD  CONSTRAINT [FK_assessment_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[assessment] CHECK CONSTRAINT [FK_assessment_Sicks]
GO
ALTER TABLE [dbo].[azmayesh]  WITH CHECK ADD  CONSTRAINT [FK_azmayesh_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[azmayesh] CHECK CONSTRAINT [FK_azmayesh_Sicks]
GO
ALTER TABLE [dbo].[azmayesh_real]  WITH CHECK ADD  CONSTRAINT [FK_azmayesh_real_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[azmayesh_real] CHECK CONSTRAINT [FK_azmayesh_real_Sicks]
GO
ALTER TABLE [dbo].[black_list]  WITH CHECK ADD  CONSTRAINT [FK_black_list_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[black_list] CHECK CONSTRAINT [FK_black_list_Sicks]
GO
ALTER TABLE [dbo].[dastoor_pezeshk]  WITH CHECK ADD  CONSTRAINT [FK_dastoor_pezeshk_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dastoor_pezeshk] CHECK CONSTRAINT [FK_dastoor_pezeshk_Sicks]
GO
ALTER TABLE [dbo].[dastoor_pezeshk_real]  WITH CHECK ADD  CONSTRAINT [FK_dastoor_pezeshk_real_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dastoor_pezeshk_real] CHECK CONSTRAINT [FK_dastoor_pezeshk_real_Sicks]
GO
ALTER TABLE [dbo].[ghabz]  WITH CHECK ADD  CONSTRAINT [FK_ghabz_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ghabz] CHECK CONSTRAINT [FK_ghabz_Sicks]
GO
ALTER TABLE [dbo].[ghabz_daftari]  WITH CHECK ADD  CONSTRAINT [FK_ghabz_daftari_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ghabz_daftari] CHECK CONSTRAINT [FK_ghabz_daftari_Sicks]
GO
ALTER TABLE [dbo].[MAP_A]  WITH CHECK ADD  CONSTRAINT [FK_MAP_A_mos_list] FOREIGN KEY([code])
REFERENCES [dbo].[mos_list] ([code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MAP_A] CHECK CONSTRAINT [FK_MAP_A_mos_list]
GO
ALTER TABLE [dbo].[Map_BtoG]  WITH CHECK ADD  CONSTRAINT [FK_Map_BtoG_mos_list] FOREIGN KEY([code])
REFERENCES [dbo].[mos_list] ([code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Map_BtoG] CHECK CONSTRAINT [FK_Map_BtoG_mos_list]
GO
ALTER TABLE [dbo].[MAP_History]  WITH CHECK ADD  CONSTRAINT [FK_MAP_History_mos_list] FOREIGN KEY([code])
REFERENCES [dbo].[mos_list] ([code])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MAP_History] CHECK CONSTRAINT [FK_MAP_History_mos_list]
GO
ALTER TABLE [dbo].[mos_list]  WITH CHECK ADD  CONSTRAINT [FK_mos_list_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mos_list] CHECK CONSTRAINT [FK_mos_list_Sicks]
GO
ALTER TABLE [dbo].[peygiri]  WITH CHECK ADD  CONSTRAINT [FK_peygiri_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[peygiri] CHECK CONSTRAINT [FK_peygiri_Sicks]
GO
ALTER TABLE [dbo].[peygiri_real]  WITH CHECK ADD  CONSTRAINT [FK_peygiri_real_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[peygiri_real] CHECK CONSTRAINT [FK_peygiri_real_Sicks]
GO
ALTER TABLE [dbo].[ravanshenas]  WITH CHECK ADD  CONSTRAINT [FK_ravanshenas_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ravanshenas] CHECK CONSTRAINT [FK_ravanshenas_Sicks]
GO
ALTER TABLE [dbo].[ravanshenas_real]  WITH CHECK ADD  CONSTRAINT [FK_ravanshenas_real_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ravanshenas_real] CHECK CONSTRAINT [FK_ravanshenas_real_Sicks]
GO
ALTER TABLE [dbo].[sick_history]  WITH CHECK ADD  CONSTRAINT [FK_sick_history_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sick_history] CHECK CONSTRAINT [FK_sick_history_Sicks]
GO
ALTER TABLE [dbo].[sick_history_daftari]  WITH CHECK ADD  CONSTRAINT [FK_sick_history_daftari_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sick_history_daftari] CHECK CONSTRAINT [FK_sick_history_daftari_Sicks]
GO
ALTER TABLE [dbo].[tahvil]  WITH CHECK ADD  CONSTRAINT [FK_tahvil_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tahvil] CHECK CONSTRAINT [FK_tahvil_Sicks]
GO
ALTER TABLE [dbo].[tahvil_koli]  WITH CHECK ADD  CONSTRAINT [FK_tahvil_koli_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tahvil_koli] CHECK CONSTRAINT [FK_tahvil_koli_Sicks]
GO
ALTER TABLE [dbo].[tajviz]  WITH CHECK ADD  CONSTRAINT [FK_tajviz_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tajviz] CHECK CONSTRAINT [FK_tajviz_Sicks]
GO
ALTER TABLE [dbo].[tajviz_koli]  WITH CHECK ADD  CONSTRAINT [FK_tajviz_koli_Sicks] FOREIGN KEY([id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tajviz_koli] CHECK CONSTRAINT [FK_tajviz_koli_Sicks]
GO
