<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mehr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SHERKAT.Properties.Settings.SHERKATConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SHERKAT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Mehr.Properties.Settings.MehrConnectionString" connectionString="Data Source=.\SQlexpress;Initial Catalog=Mehr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Mehr.Properties.Settings.ARCConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ARC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Mehr.Properties.Settings>
            <setting name="SerialNo" serializeAs="String">
                <value />
            </setting>
            <setting name="AveragePrices" serializeAs="String">
                <value />
            </setting>
            <setting name="backname" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
        </Mehr.Properties.Settings>
    </userSettings>
</configuration>