USE [ARC]
GO
/****** Object:  Table [dbo].[Gen_Settings]    Script Date: 10/30/2011 10:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_Settings](
	[PayType] [nvarchar](6) NOT NULL CONSTRAINT [DF_Gen_Settings_PayType]  DEFAULT (N'روزانه'),
	[Takhfif_Inc] [nvarchar](3) NOT NULL CONSTRAINT [DF_Gen_Settings_Takhfif_Inc]  DEFAULT (N'بلی')
) ON [PRIMARY]

insert into Gen_settings (PayType, Takhfif_Inc) Values (N'روزانه', N'بلی')