use [arc]
/*
   Sunday, October 30, 201110:52:32 AM
   User: 
   Server: PARSA-PC\SQLEXPRESS
   Database: ARC
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tajviz_anbar ADD
	fee bigint NOT NULL CONSTRAINT DF_tajviz_anbar_fee DEFAULT 0
GO
COMMIT
