USE [ARC]
GO
/****** Object:  Table [dbo].[assessment]    Script Date: 10/23/2011 11:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assessment](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ass_date] [nchar](10) NOT NULL,
	[q1a] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q1a]  DEFAULT ((0)),
	[q1b] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q1b]  DEFAULT ((0)),
	[q2a] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q2a]  DEFAULT ((0)),
	[q2b] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q2b]  DEFAULT ((0)),
	[q2c] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q2c]  DEFAULT ((0)),
	[q2d] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q2d]  DEFAULT ((0)),
	[q3a] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q3a]  DEFAULT ((0)),
	[q3b] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q3b]  DEFAULT ((0)),
	[q3c] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q3c]  DEFAULT ((0)),
	[q3d] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q3d]  DEFAULT ((0)),
	[q4a] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q4a]  DEFAULT ((0)),
	[q4b] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q4b]  DEFAULT ((0)),
	[q4c] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q4c]  DEFAULT ((0)),
	[q4d] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q4d]  DEFAULT ((0)),
	[q4e] [tinyint] NOT NULL CONSTRAINT [DF_assessment_q4e]  DEFAULT ((0)),
	[sum_all] [tinyint] NOT NULL CONSTRAINT [DF_assessment_sum_all]  DEFAULT ((0)),
 CONSTRAINT [PK_assessment] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[assessment]  WITH CHECK ADD  CONSTRAINT [FK_assessment_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[assessment] CHECK CONSTRAINT [FK_assessment_Sicks]