/*
   Sunday, April 07, 201310:38:46 PM
   User: 
   Server: PARSA-PC\SQLEXPRESS
   Database: ARC
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Sicks
	DROP CONSTRAINT DF_Customers_bedehkar
GO
ALTER TABLE dbo.Sicks
	DROP CONSTRAINT DF_Sicks_sex
GO
ALTER TABLE dbo.Sicks
	DROP CONSTRAINT DF_Sicks_home
GO
ALTER TABLE dbo.Sicks
	DROP CONSTRAINT DF_Sicks_roozaneh
GO
ALTER TABLE dbo.Sicks
	DROP CONSTRAINT DF_Sicks_monthFee
GO
ALTER TABLE dbo.Sicks
	DROP CONSTRAINT DF_Sicks_hesab
GO
ALTER TABLE dbo.Sicks
	DROP CONSTRAINT DF_Sicks_status
GO
CREATE TABLE dbo.Tmp_Sicks
	(
	id nvarchar(15) NOT NULL,
	darman_date nchar(10) NULL,
	payan_date nchar(10) NULL,
	name nvarchar(50) NOT NULL,
	father_name nvarchar(30) NULL,
	age nvarchar(2) NOT NULL,
	city nvarchar(20) NOT NULL,
	id_no nvarchar(10) NULL,
	sex nchar(4) NULL,
	home nvarchar(11) NULL,
	mobile nvarchar(11) NULL,
	masrafi_type nvarchar(150) NOT NULL,
	ravesh_tark nvarchar(50) NOT NULL,
	address nvarchar(100) NULL,
	roozaneh bigint NULL,
	monthFee bigint NOT NULL,
	hesab bigint NOT NULL,
	status nvarchar(8) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Sicks ADD CONSTRAINT
	DF_Customers_bedehkar DEFAULT ((0)) FOR age
GO
ALTER TABLE dbo.Tmp_Sicks ADD CONSTRAINT
	DF_Sicks_sex DEFAULT (N'مذکر') FOR sex
GO
ALTER TABLE dbo.Tmp_Sicks ADD CONSTRAINT
	DF_Sicks_home DEFAULT (N'مذکر') FOR home
GO
ALTER TABLE dbo.Tmp_Sicks ADD CONSTRAINT
	DF_Sicks_roozaneh DEFAULT ((0)) FOR roozaneh
GO
ALTER TABLE dbo.Tmp_Sicks ADD CONSTRAINT
	DF_Sicks_monthFee DEFAULT ((0)) FOR monthFee
GO
ALTER TABLE dbo.Tmp_Sicks ADD CONSTRAINT
	DF_Sicks_hesab DEFAULT ((0)) FOR hesab
GO
ALTER TABLE dbo.Tmp_Sicks ADD CONSTRAINT
	DF_Sicks_status DEFAULT (N'بدهکار') FOR status
GO
IF EXISTS(SELECT * FROM dbo.Sicks)
	 EXEC('INSERT INTO dbo.Tmp_Sicks (id, darman_date, payan_date, name, father_name, age, city, id_no, sex, home, mobile, masrafi_type, ravesh_tark, address, roozaneh, monthFee, hesab, status)
		SELECT CONVERT(nvarchar(15), id), darman_date, payan_date, name, father_name, age, city, id_no, sex, home, mobile, masrafi_type, ravesh_tark, address, roozaneh, monthFee, hesab, status FROM dbo.Sicks WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.black_list
	DROP CONSTRAINT FK_black_list_Sicks
GO
ALTER TABLE dbo.azmayesh_real
	DROP CONSTRAINT FK_azmayesh_real_Sicks
GO
ALTER TABLE dbo.azmayesh
	DROP CONSTRAINT FK_azmayesh_Sicks
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT FK_assessment_Sicks
GO
ALTER TABLE dbo.sick_history
	DROP CONSTRAINT FK_sick_history_Sicks
GO
ALTER TABLE dbo.tajviz_koli
	DROP CONSTRAINT FK_tajviz_koli_Sicks
GO
ALTER TABLE dbo.tajviz
	DROP CONSTRAINT FK_tajviz_Sicks
GO
ALTER TABLE dbo.tahvil_koli
	DROP CONSTRAINT FK_tahvil_koli_Sicks
GO
ALTER TABLE dbo.tahvil
	DROP CONSTRAINT FK_tahvil_Sicks
GO
ALTER TABLE dbo.ghabz
	DROP CONSTRAINT FK_ghabz_Sicks
GO
ALTER TABLE dbo.ravanshenas_real
	DROP CONSTRAINT FK_ravanshenas_real_Sicks
GO
ALTER TABLE dbo.ravanshenas
	DROP CONSTRAINT FK_ravanshenas_Sicks
GO
ALTER TABLE dbo.peygiri_real
	DROP CONSTRAINT FK_peygiri_real_Sicks
GO
ALTER TABLE dbo.peygiri
	DROP CONSTRAINT FK_peygiri_Sicks
GO
ALTER TABLE dbo.dastoor_pezeshk_real
	DROP CONSTRAINT FK_dastoor_pezeshk_real_Sicks
GO
ALTER TABLE dbo.dastoor_pezeshk
	DROP CONSTRAINT FK_dastoor_pezeshk_Sicks
GO
ALTER TABLE dbo.mos_list
	DROP CONSTRAINT FK_mos_list_Sicks
GO
ALTER TABLE dbo.sick_history_daftari
	DROP CONSTRAINT FK_sick_history_daftari_Sicks
GO
ALTER TABLE dbo.ghabz_daftari
	DROP CONSTRAINT FK_ghabz_daftari_Sicks
GO
DROP TABLE dbo.Sicks
GO
EXECUTE sp_rename N'dbo.Tmp_Sicks', N'Sicks', 'OBJECT' 
GO
ALTER TABLE dbo.Sicks ADD CONSTRAINT
	PK_Customers PRIMARY KEY CLUSTERED 
	(
	id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ghabz_daftari
	DROP CONSTRAINT DF_ghabz_daftari_mablagh
GO
ALTER TABLE dbo.ghabz_daftari
	DROP CONSTRAINT DF_ghabz_daftari_paid
GO
CREATE TABLE dbo.Tmp_ghabz_daftari
	(
	ghabz_id nchar(6) NOT NULL,
	id nvarchar(15) NULL,
	name nvarchar(50) NULL,
	mablagh bigint NOT NULL,
	paid bigint NOT NULL,
	sharh nvarchar(100) NULL,
	date nchar(10) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_ghabz_daftari ADD CONSTRAINT
	DF_ghabz_daftari_mablagh DEFAULT ((0)) FOR mablagh
GO
ALTER TABLE dbo.Tmp_ghabz_daftari ADD CONSTRAINT
	DF_ghabz_daftari_paid DEFAULT ((0)) FOR paid
GO
IF EXISTS(SELECT * FROM dbo.ghabz_daftari)
	 EXEC('INSERT INTO dbo.Tmp_ghabz_daftari (ghabz_id, id, name, mablagh, paid, sharh, date)
		SELECT ghabz_id, CONVERT(nvarchar(15), id), name, mablagh, paid, sharh, date FROM dbo.ghabz_daftari WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.ghabz_daftari
GO
EXECUTE sp_rename N'dbo.Tmp_ghabz_daftari', N'ghabz_daftari', 'OBJECT' 
GO
ALTER TABLE dbo.ghabz_daftari ADD CONSTRAINT
	PK_ghabz_daftari PRIMARY KEY CLUSTERED 
	(
	ghabz_id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ghabz_daftari ADD CONSTRAINT
	FK_ghabz_daftari_Sicks FOREIGN KEY
	(
	id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.sick_history_daftari
	DROP CONSTRAINT DF_sick_history_daftari_radif
GO
ALTER TABLE dbo.sick_history_daftari
	DROP CONSTRAINT DF_sick_history_daftari_bedehkari
GO
ALTER TABLE dbo.sick_history_daftari
	DROP CONSTRAINT DF_sick_history_daftari_bestankari
GO
ALTER TABLE dbo.sick_history_daftari
	DROP CONSTRAINT DF_sick_history_daftari_mandeh
GO
CREATE TABLE dbo.Tmp_sick_history_daftari
	(
	radif bigint NOT NULL,
	ghabz_id nchar(6) NULL,
	sick_id nvarchar(15) NOT NULL,
	sharh nvarchar(100) NULL,
	date nchar(10) NULL,
	bedehkari bigint NULL,
	bestankari bigint NULL,
	tashkhis nvarchar(8) NULL,
	mandeh bigint NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_sick_history_daftari ADD CONSTRAINT
	DF_sick_history_daftari_radif DEFAULT ((0)) FOR radif
GO
ALTER TABLE dbo.Tmp_sick_history_daftari ADD CONSTRAINT
	DF_sick_history_daftari_bedehkari DEFAULT ((0)) FOR bedehkari
GO
ALTER TABLE dbo.Tmp_sick_history_daftari ADD CONSTRAINT
	DF_sick_history_daftari_bestankari DEFAULT ((0)) FOR bestankari
GO
ALTER TABLE dbo.Tmp_sick_history_daftari ADD CONSTRAINT
	DF_sick_history_daftari_mandeh DEFAULT ((0)) FOR mandeh
GO
IF EXISTS(SELECT * FROM dbo.sick_history_daftari)
	 EXEC('INSERT INTO dbo.Tmp_sick_history_daftari (radif, ghabz_id, sick_id, sharh, date, bedehkari, bestankari, tashkhis, mandeh)
		SELECT radif, ghabz_id, CONVERT(nvarchar(15), sick_id), sharh, date, bedehkari, bestankari, tashkhis, mandeh FROM dbo.sick_history_daftari WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.sick_history_daftari
GO
EXECUTE sp_rename N'dbo.Tmp_sick_history_daftari', N'sick_history_daftari', 'OBJECT' 
GO
ALTER TABLE dbo.sick_history_daftari ADD CONSTRAINT
	PK_sick_history_daftari PRIMARY KEY CLUSTERED 
	(
	radif,
	sick_id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.sick_history_daftari ADD CONSTRAINT
	FK_sick_history_daftari_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_mos_list
	(
	code bigint NOT NULL,
	id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	home nvarchar(11) NULL,
	mos_date nchar(10) NULL,
	mos_name nvarchar(50) NULL,
	mos_semat nvarchar(30) NULL
	)  ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.mos_list)
	 EXEC('INSERT INTO dbo.Tmp_mos_list (code, id, name, home, mos_date, mos_name, mos_semat)
		SELECT code, CONVERT(nvarchar(15), id), name, home, mos_date, mos_name, mos_semat FROM dbo.mos_list WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.MAP_A
	DROP CONSTRAINT FK_MAP_A_mos_list
GO
ALTER TABLE dbo.Map_BtoG
	DROP CONSTRAINT FK_Map_BtoG_mos_list
GO
ALTER TABLE dbo.MAP_History
	DROP CONSTRAINT FK_MAP_History_mos_list
GO
DROP TABLE dbo.mos_list
GO
EXECUTE sp_rename N'dbo.Tmp_mos_list', N'mos_list', 'OBJECT' 
GO
ALTER TABLE dbo.mos_list ADD CONSTRAINT
	PK_mos_list PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.mos_list ADD CONSTRAINT
	FK_mos_list_Sicks FOREIGN KEY
	(
	id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MAP_History ADD CONSTRAINT
	FK_MAP_History_mos_list FOREIGN KEY
	(
	code
	) REFERENCES dbo.mos_list
	(
	code
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Map_BtoG ADD CONSTRAINT
	FK_Map_BtoG_mos_list FOREIGN KEY
	(
	code
	) REFERENCES dbo.mos_list
	(
	code
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MAP_A ADD CONSTRAINT
	FK_MAP_A_mos_list FOREIGN KEY
	(
	code
	) REFERENCES dbo.mos_list
	(
	code
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_dastoor_pezeshk
	(
	code bigint NOT NULL,
	sick_id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	doctor_name nvarchar(50) NULL,
	darman_date nchar(10) NULL,
	date nchar(10) NOT NULL,
	pre_text nvarchar(MAX) NULL,
	azmayesh nvarchar(60) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.dastoor_pezeshk)
	 EXEC('INSERT INTO dbo.Tmp_dastoor_pezeshk (code, sick_id, name, doctor_name, darman_date, date, pre_text, azmayesh)
		SELECT code, CONVERT(nvarchar(15), sick_id), name, doctor_name, darman_date, date, pre_text, azmayesh FROM dbo.dastoor_pezeshk WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.dastoor_pezeshk
GO
EXECUTE sp_rename N'dbo.Tmp_dastoor_pezeshk', N'dastoor_pezeshk', 'OBJECT' 
GO
ALTER TABLE dbo.dastoor_pezeshk ADD CONSTRAINT
	PK_dastoor_pezeshk PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.dastoor_pezeshk ADD CONSTRAINT
	FK_dastoor_pezeshk_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_dastoor_pezeshk_real
	(
	code bigint NOT NULL,
	sick_id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	doctor_name nvarchar(50) NULL,
	darman_date nchar(10) NULL,
	date nchar(10) NOT NULL,
	pre_text nvarchar(MAX) NULL,
	azmayesh nvarchar(60) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.dastoor_pezeshk_real)
	 EXEC('INSERT INTO dbo.Tmp_dastoor_pezeshk_real (code, sick_id, name, doctor_name, darman_date, date, pre_text, azmayesh)
		SELECT code, CONVERT(nvarchar(15), sick_id), name, doctor_name, darman_date, date, pre_text, azmayesh FROM dbo.dastoor_pezeshk_real WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.dastoor_pezeshk_real
GO
EXECUTE sp_rename N'dbo.Tmp_dastoor_pezeshk_real', N'dastoor_pezeshk_real', 'OBJECT' 
GO
ALTER TABLE dbo.dastoor_pezeshk_real ADD CONSTRAINT
	PK_dastoor_pezeshk_real PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.dastoor_pezeshk_real ADD CONSTRAINT
	FK_dastoor_pezeshk_real_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_peygiri
	(
	code bigint NOT NULL,
	sick_id nvarchar(15) NOT NULL,
	name nvarchar(50) NULL,
	peygiriNo bigint NULL,
	darman_date nchar(10) NULL,
	date nchar(10) NULL,
	comments nvarchar(MAX) NULL,
	natijeh nvarchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.peygiri)
	 EXEC('INSERT INTO dbo.Tmp_peygiri (code, sick_id, name, peygiriNo, darman_date, date, comments, natijeh)
		SELECT code, CONVERT(nvarchar(15), sick_id), name, peygiriNo, darman_date, date, comments, natijeh FROM dbo.peygiri WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.peygiri
GO
EXECUTE sp_rename N'dbo.Tmp_peygiri', N'peygiri', 'OBJECT' 
GO
ALTER TABLE dbo.peygiri ADD CONSTRAINT
	PK_peygiri PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.peygiri ADD CONSTRAINT
	FK_peygiri_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_peygiri_real
	(
	code bigint NOT NULL,
	sick_id nvarchar(15) NOT NULL,
	name nvarchar(50) NULL,
	peygiriNo bigint NULL,
	darman_date nchar(10) NULL,
	date nchar(10) NULL,
	comments nvarchar(MAX) NULL,
	natijeh nvarchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.peygiri_real)
	 EXEC('INSERT INTO dbo.Tmp_peygiri_real (code, sick_id, name, peygiriNo, darman_date, date, comments, natijeh)
		SELECT code, CONVERT(nvarchar(15), sick_id), name, peygiriNo, darman_date, date, comments, natijeh FROM dbo.peygiri_real WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.peygiri_real
GO
EXECUTE sp_rename N'dbo.Tmp_peygiri_real', N'peygiri_real', 'OBJECT' 
GO
ALTER TABLE dbo.peygiri_real ADD CONSTRAINT
	PK_peygiri_real PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.peygiri_real ADD CONSTRAINT
	FK_peygiri_real_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_ravanshenas
	(
	code bigint NOT NULL,
	sick_id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	doctor_name nvarchar(50) NULL,
	darman_date nchar(10) NULL,
	date nchar(10) NOT NULL,
	next_date nchar(10) NULL,
	comments nvarchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.ravanshenas)
	 EXEC('INSERT INTO dbo.Tmp_ravanshenas (code, sick_id, name, doctor_name, darman_date, date, next_date, comments)
		SELECT code, CONVERT(nvarchar(15), sick_id), name, doctor_name, darman_date, date, next_date, comments FROM dbo.ravanshenas WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.ravanshenas
GO
EXECUTE sp_rename N'dbo.Tmp_ravanshenas', N'ravanshenas', 'OBJECT' 
GO
ALTER TABLE dbo.ravanshenas ADD CONSTRAINT
	PK_ravanshenas PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ravanshenas ADD CONSTRAINT
	FK_ravanshenas_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_ravanshenas_real
	(
	code bigint NOT NULL,
	sick_id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	doctor_name nvarchar(50) NULL,
	darman_date nchar(10) NULL,
	date nchar(10) NOT NULL,
	next_date nchar(10) NULL,
	comments nvarchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.ravanshenas_real)
	 EXEC('INSERT INTO dbo.Tmp_ravanshenas_real (code, sick_id, name, doctor_name, darman_date, date, next_date, comments)
		SELECT code, CONVERT(nvarchar(15), sick_id), name, doctor_name, darman_date, date, next_date, comments FROM dbo.ravanshenas_real WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.ravanshenas_real
GO
EXECUTE sp_rename N'dbo.Tmp_ravanshenas_real', N'ravanshenas_real', 'OBJECT' 
GO
ALTER TABLE dbo.ravanshenas_real ADD CONSTRAINT
	PK_ravanshenas_real PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ravanshenas_real ADD CONSTRAINT
	FK_ravanshenas_real_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ghabz
	DROP CONSTRAINT DF_ghabz_mablagh
GO
ALTER TABLE dbo.ghabz
	DROP CONSTRAINT DF_ghabz_paid
GO
CREATE TABLE dbo.Tmp_ghabz
	(
	ghabz_id nchar(6) NOT NULL,
	id nvarchar(15) NULL,
	name nvarchar(50) NULL,
	mablagh bigint NOT NULL,
	paid bigint NOT NULL,
	sharh nvarchar(100) NULL,
	date nchar(10) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_ghabz ADD CONSTRAINT
	DF_ghabz_mablagh DEFAULT ((0)) FOR mablagh
GO
ALTER TABLE dbo.Tmp_ghabz ADD CONSTRAINT
	DF_ghabz_paid DEFAULT ((0)) FOR paid
GO
IF EXISTS(SELECT * FROM dbo.ghabz)
	 EXEC('INSERT INTO dbo.Tmp_ghabz (ghabz_id, id, name, mablagh, paid, sharh, date)
		SELECT ghabz_id, CONVERT(nvarchar(15), id), name, mablagh, paid, sharh, date FROM dbo.ghabz WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.ghabz
GO
EXECUTE sp_rename N'dbo.Tmp_ghabz', N'ghabz', 'OBJECT' 
GO
ALTER TABLE dbo.ghabz ADD CONSTRAINT
	PK_ghabz PRIMARY KEY CLUSTERED 
	(
	ghabz_id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ghabz ADD CONSTRAINT
	FK_ghabz_Sicks FOREIGN KEY
	(
	id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tahvil
	DROP CONSTRAINT DF_tahvil_m5
GO
ALTER TABLE dbo.tahvil
	DROP CONSTRAINT DF_tahvil_m20
GO
CREATE TABLE dbo.Tmp_tahvil
	(
	code bigint NOT NULL,
	id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	ravesh_tark nvarchar(50) NULL,
	tahvil_day nvarchar(50) NULL,
	tahvil_date nchar(10) NOT NULL,
	date nchar(10) NOT NULL,
	daru_name nvarchar(50) NOT NULL,
	tedad float(53) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_tahvil ADD CONSTRAINT
	DF_tahvil_m5 DEFAULT ((0)) FOR daru_name
GO
ALTER TABLE dbo.Tmp_tahvil ADD CONSTRAINT
	DF_tahvil_m20 DEFAULT ((0)) FOR tedad
GO
IF EXISTS(SELECT * FROM dbo.tahvil)
	 EXEC('INSERT INTO dbo.Tmp_tahvil (code, id, name, ravesh_tark, tahvil_day, tahvil_date, date, daru_name, tedad)
		SELECT code, CONVERT(nvarchar(15), id), name, ravesh_tark, tahvil_day, tahvil_date, date, daru_name, tedad FROM dbo.tahvil WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.tahvil
GO
EXECUTE sp_rename N'dbo.Tmp_tahvil', N'tahvil', 'OBJECT' 
GO
ALTER TABLE dbo.tahvil ADD CONSTRAINT
	PK_tahvil_1 PRIMARY KEY CLUSTERED 
	(
	code,
	id,
	date,
	daru_name
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tahvil ADD CONSTRAINT
	FK_tahvil_Sicks FOREIGN KEY
	(
	id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tahvil_koli
	DROP CONSTRAINT DF_tahvil_koli_code
GO
ALTER TABLE dbo.tahvil_koli
	DROP CONSTRAINT DF_tahvil_koli_daru_name
GO
ALTER TABLE dbo.tahvil_koli
	DROP CONSTRAINT DF_tahvil_koli_tedad
GO
CREATE TABLE dbo.Tmp_tahvil_koli
	(
	code bigint NOT NULL,
	id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	ravesh_tark nvarchar(50) NULL,
	tahvil_day nvarchar(50) NULL,
	tahvil_date nchar(10) NULL,
	from_date nchar(10) NOT NULL,
	to_date nchar(10) NOT NULL,
	daru_name nvarchar(50) NOT NULL,
	tedad float(53) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_tahvil_koli ADD CONSTRAINT
	DF_tahvil_koli_code DEFAULT ((0)) FOR code
GO
ALTER TABLE dbo.Tmp_tahvil_koli ADD CONSTRAINT
	DF_tahvil_koli_daru_name DEFAULT ((0)) FOR daru_name
GO
ALTER TABLE dbo.Tmp_tahvil_koli ADD CONSTRAINT
	DF_tahvil_koli_tedad DEFAULT ((0)) FOR tedad
GO
IF EXISTS(SELECT * FROM dbo.tahvil_koli)
	 EXEC('INSERT INTO dbo.Tmp_tahvil_koli (code, id, name, ravesh_tark, tahvil_day, tahvil_date, from_date, to_date, daru_name, tedad)
		SELECT code, CONVERT(nvarchar(15), id), name, ravesh_tark, tahvil_day, tahvil_date, from_date, to_date, daru_name, tedad FROM dbo.tahvil_koli WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.tahvil_koli
GO
EXECUTE sp_rename N'dbo.Tmp_tahvil_koli', N'tahvil_koli', 'OBJECT' 
GO
ALTER TABLE dbo.tahvil_koli ADD CONSTRAINT
	PK_tahvil_koli PRIMARY KEY CLUSTERED 
	(
	code,
	daru_name
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tahvil_koli ADD CONSTRAINT
	FK_tahvil_koli_Sicks FOREIGN KEY
	(
	id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tajviz
	DROP CONSTRAINT DF_tajviz_daru_name
GO
ALTER TABLE dbo.tajviz
	DROP CONSTRAINT DF_tajviz_tedad
GO
CREATE TABLE dbo.Tmp_tajviz
	(
	code bigint NOT NULL,
	id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	ravesh_tark nvarchar(50) NULL,
	tajviz_day nvarchar(50) NULL,
	tajviz_date nchar(10) NOT NULL,
	date nchar(10) NOT NULL,
	daru_name nvarchar(50) NOT NULL,
	tedad float(53) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_tajviz ADD CONSTRAINT
	DF_tajviz_daru_name DEFAULT ((0)) FOR daru_name
GO
ALTER TABLE dbo.Tmp_tajviz ADD CONSTRAINT
	DF_tajviz_tedad DEFAULT ((0)) FOR tedad
GO
IF EXISTS(SELECT * FROM dbo.tajviz)
	 EXEC('INSERT INTO dbo.Tmp_tajviz (code, id, name, ravesh_tark, tajviz_day, tajviz_date, date, daru_name, tedad)
		SELECT code, CONVERT(nvarchar(15), id), name, ravesh_tark, tajviz_day, tajviz_date, date, daru_name, tedad FROM dbo.tajviz WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.tajviz
GO
EXECUTE sp_rename N'dbo.Tmp_tajviz', N'tajviz', 'OBJECT' 
GO
ALTER TABLE dbo.tajviz ADD CONSTRAINT
	PK_tajviz PRIMARY KEY CLUSTERED 
	(
	code,
	id,
	date,
	daru_name
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tajviz ADD CONSTRAINT
	FK_tajviz_Sicks FOREIGN KEY
	(
	id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tajviz_koli
	DROP CONSTRAINT DF_tajviz_koli_code
GO
ALTER TABLE dbo.tajviz_koli
	DROP CONSTRAINT DF_tajviz_koli_daru_name
GO
ALTER TABLE dbo.tajviz_koli
	DROP CONSTRAINT DF_tajviz_koli_tedad
GO
CREATE TABLE dbo.Tmp_tajviz_koli
	(
	code bigint NOT NULL,
	id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	ravesh_tark nvarchar(50) NULL,
	tajviz_day nvarchar(50) NULL,
	tajviz_date nchar(10) NULL,
	from_date nchar(10) NOT NULL,
	to_date nchar(10) NOT NULL,
	daru_name nvarchar(50) NOT NULL,
	tedad float(53) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_tajviz_koli ADD CONSTRAINT
	DF_tajviz_koli_code DEFAULT ((0)) FOR code
GO
ALTER TABLE dbo.Tmp_tajviz_koli ADD CONSTRAINT
	DF_tajviz_koli_daru_name DEFAULT ((0)) FOR daru_name
GO
ALTER TABLE dbo.Tmp_tajviz_koli ADD CONSTRAINT
	DF_tajviz_koli_tedad DEFAULT ((0)) FOR tedad
GO
IF EXISTS(SELECT * FROM dbo.tajviz_koli)
	 EXEC('INSERT INTO dbo.Tmp_tajviz_koli (code, id, name, ravesh_tark, tajviz_day, tajviz_date, from_date, to_date, daru_name, tedad)
		SELECT code, CONVERT(nvarchar(15), id), name, ravesh_tark, tajviz_day, tajviz_date, from_date, to_date, daru_name, tedad FROM dbo.tajviz_koli WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.tajviz_koli
GO
EXECUTE sp_rename N'dbo.Tmp_tajviz_koli', N'tajviz_koli', 'OBJECT' 
GO
ALTER TABLE dbo.tajviz_koli ADD CONSTRAINT
	PK_tajviz_koli PRIMARY KEY CLUSTERED 
	(
	code,
	daru_name
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tajviz_koli ADD CONSTRAINT
	FK_tajviz_koli_Sicks FOREIGN KEY
	(
	id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.sick_history
	DROP CONSTRAINT DF_sick_history_radif
GO
ALTER TABLE dbo.sick_history
	DROP CONSTRAINT DF_sick_history_bedehkari
GO
ALTER TABLE dbo.sick_history
	DROP CONSTRAINT DF_sick_history_bestankari
GO
ALTER TABLE dbo.sick_history
	DROP CONSTRAINT DF_sick_history_mandeh
GO
CREATE TABLE dbo.Tmp_sick_history
	(
	radif bigint NOT NULL,
	ghabz_id nchar(6) NULL,
	sick_id nvarchar(15) NOT NULL,
	sharh nvarchar(100) NULL,
	date nchar(10) NULL,
	bedehkari bigint NULL,
	bestankari bigint NULL,
	tashkhis nvarchar(8) NULL,
	mandeh bigint NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_sick_history ADD CONSTRAINT
	DF_sick_history_radif DEFAULT ((0)) FOR radif
GO
ALTER TABLE dbo.Tmp_sick_history ADD CONSTRAINT
	DF_sick_history_bedehkari DEFAULT ((0)) FOR bedehkari
GO
ALTER TABLE dbo.Tmp_sick_history ADD CONSTRAINT
	DF_sick_history_bestankari DEFAULT ((0)) FOR bestankari
GO
ALTER TABLE dbo.Tmp_sick_history ADD CONSTRAINT
	DF_sick_history_mandeh DEFAULT ((0)) FOR mandeh
GO
IF EXISTS(SELECT * FROM dbo.sick_history)
	 EXEC('INSERT INTO dbo.Tmp_sick_history (radif, ghabz_id, sick_id, sharh, date, bedehkari, bestankari, tashkhis, mandeh)
		SELECT radif, ghabz_id, CONVERT(nvarchar(15), sick_id), sharh, date, bedehkari, bestankari, tashkhis, mandeh FROM dbo.sick_history WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.sick_history
GO
EXECUTE sp_rename N'dbo.Tmp_sick_history', N'sick_history', 'OBJECT' 
GO
ALTER TABLE dbo.sick_history ADD CONSTRAINT
	PK_sick_history PRIMARY KEY CLUSTERED 
	(
	radif,
	sick_id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.sick_history ADD CONSTRAINT
	FK_sick_history_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q1a
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q1b
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q2a
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q2b
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q2c
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q2d
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q3a
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q3b
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q3c
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q3d
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q4a
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q4b
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q4c
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q4d
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_q4e
GO
ALTER TABLE dbo.assessment
	DROP CONSTRAINT DF_assessment_sum_all
GO
CREATE TABLE dbo.Tmp_assessment
	(
	code bigint NOT NULL,
	sick_id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	ass_date nchar(10) NOT NULL,
	q1a tinyint NOT NULL,
	q1b tinyint NOT NULL,
	q2a tinyint NOT NULL,
	q2b tinyint NOT NULL,
	q2c tinyint NOT NULL,
	q2d tinyint NOT NULL,
	q3a tinyint NOT NULL,
	q3b tinyint NOT NULL,
	q3c tinyint NOT NULL,
	q3d tinyint NOT NULL,
	q4a tinyint NOT NULL,
	q4b tinyint NOT NULL,
	q4c tinyint NOT NULL,
	q4d tinyint NOT NULL,
	q4e tinyint NOT NULL,
	sum_all tinyint NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q1a DEFAULT ((0)) FOR q1a
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q1b DEFAULT ((0)) FOR q1b
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q2a DEFAULT ((0)) FOR q2a
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q2b DEFAULT ((0)) FOR q2b
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q2c DEFAULT ((0)) FOR q2c
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q2d DEFAULT ((0)) FOR q2d
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q3a DEFAULT ((0)) FOR q3a
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q3b DEFAULT ((0)) FOR q3b
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q3c DEFAULT ((0)) FOR q3c
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q3d DEFAULT ((0)) FOR q3d
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q4a DEFAULT ((0)) FOR q4a
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q4b DEFAULT ((0)) FOR q4b
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q4c DEFAULT ((0)) FOR q4c
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q4d DEFAULT ((0)) FOR q4d
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_q4e DEFAULT ((0)) FOR q4e
GO
ALTER TABLE dbo.Tmp_assessment ADD CONSTRAINT
	DF_assessment_sum_all DEFAULT ((0)) FOR sum_all
GO
IF EXISTS(SELECT * FROM dbo.assessment)
	 EXEC('INSERT INTO dbo.Tmp_assessment (code, sick_id, name, ass_date, q1a, q1b, q2a, q2b, q2c, q2d, q3a, q3b, q3c, q3d, q4a, q4b, q4c, q4d, q4e, sum_all)
		SELECT code, CONVERT(nvarchar(15), sick_id), name, ass_date, q1a, q1b, q2a, q2b, q2c, q2d, q3a, q3b, q3c, q3d, q4a, q4b, q4c, q4d, q4e, sum_all FROM dbo.assessment WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.assessment
GO
EXECUTE sp_rename N'dbo.Tmp_assessment', N'assessment', 'OBJECT' 
GO
ALTER TABLE dbo.assessment ADD CONSTRAINT
	PK_assessment PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.assessment ADD CONSTRAINT
	FK_assessment_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_azmayesh
	(
	code bigint NOT NULL,
	sick_id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	darman_date nchar(10) NULL,
	type nvarchar(50) NOT NULL,
	date nchar(10) NOT NULL,
	result nchar(4) NOT NULL,
	comments varchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.azmayesh)
	 EXEC('INSERT INTO dbo.Tmp_azmayesh (code, sick_id, name, darman_date, type, date, result, comments)
		SELECT code, CONVERT(nvarchar(15), sick_id), name, darman_date, type, date, result, comments FROM dbo.azmayesh WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.azmayesh
GO
EXECUTE sp_rename N'dbo.Tmp_azmayesh', N'azmayesh', 'OBJECT' 
GO
ALTER TABLE dbo.azmayesh ADD CONSTRAINT
	PK_azmayesh PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.azmayesh ADD CONSTRAINT
	FK_azmayesh_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_azmayesh_real
	(
	code bigint NOT NULL,
	sick_id nvarchar(15) NOT NULL,
	name nvarchar(50) NOT NULL,
	darman_date nchar(10) NULL,
	type nvarchar(50) NOT NULL,
	date nchar(10) NOT NULL,
	result nchar(4) NOT NULL,
	comments varchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.azmayesh_real)
	 EXEC('INSERT INTO dbo.Tmp_azmayesh_real (code, sick_id, name, darman_date, type, date, result, comments)
		SELECT code, CONVERT(nvarchar(15), sick_id), name, darman_date, type, date, result, comments FROM dbo.azmayesh_real WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.azmayesh_real
GO
EXECUTE sp_rename N'dbo.Tmp_azmayesh_real', N'azmayesh_real', 'OBJECT' 
GO
ALTER TABLE dbo.azmayesh_real ADD CONSTRAINT
	PK_azmayesh_real PRIMARY KEY CLUSTERED 
	(
	code
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.azmayesh_real ADD CONSTRAINT
	FK_azmayesh_real_Sicks FOREIGN KEY
	(
	sick_id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_black_list
	(
	radif bigint NOT NULL,
	id nvarchar(15) NOT NULL,
	name nvarchar(50) NULL,
	sharh nvarchar(100) NULL
	)  ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.black_list)
	 EXEC('INSERT INTO dbo.Tmp_black_list (radif, id, name, sharh)
		SELECT radif, CONVERT(nvarchar(15), id), name, sharh FROM dbo.black_list WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.black_list
GO
EXECUTE sp_rename N'dbo.Tmp_black_list', N'black_list', 'OBJECT' 
GO
ALTER TABLE dbo.black_list ADD CONSTRAINT
	PK_black_list PRIMARY KEY CLUSTERED 
	(
	radif
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.black_list ADD CONSTRAINT
	FK_black_list_Sicks FOREIGN KEY
	(
	id
	) REFERENCES dbo.Sicks
	(
	id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
