use arc
delete from amar_records
/*
   Friday, January 13, 20121:26:37 AM
   User: 
   Server: PARSA-PC\SQLEXPRESS
   Database: ARC
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.amar_records
	DROP CONSTRAINT DF_amar_records_kol_masrafi_daftar
GO
ALTER TABLE dbo.amar_records
	DROP CONSTRAINT DF_amar_records_pookeh
GO
ALTER TABLE dbo.amar_records
	DROP CONSTRAINT DF_amar_records_last_tedad_on_date_daftar
GO
ALTER TABLE dbo.amar_records
	DROP CONSTRAINT DF_amar_records_nowtedad_daftar
GO
ALTER TABLE dbo.amar_records
	DROP CONSTRAINT DF_amar_records_kol_masrafi_sandogh
GO
ALTER TABLE dbo.amar_records
	DROP CONSTRAINT DF_amar_records_last_tedad_on_date_sandogh
GO
ALTER TABLE dbo.amar_records
	DROP CONSTRAINT DF_amar_records_nowtedad_sandogh
GO
ALTER TABLE dbo.amar_records
	DROP CONSTRAINT DF_amar_records_difference
GO
CREATE TABLE dbo.Tmp_amar_records
	(
	date nchar(10) NOT NULL,
	reg_date nchar(10) NOT NULL,
	daru_name nvarchar(50) NOT NULL,
	kol_masrafi_daftar nvarchar(15) NOT NULL,
	pookeh nvarchar(15) NOT NULL,
	last_tedad_on_date_daftar nvarchar(15) NOT NULL,
	nowtedad_daftar nvarchar(15) NOT NULL,
	kol_masrafi_sandogh nvarchar(15) NOT NULL,
	last_tedad_on_date_sandogh nvarchar(15) NOT NULL,
	nowtedad_kol nvarchar(15) NOT NULL,
	nowtedad_sandogh nvarchar(15) NOT NULL,
	nowtedad_parastar nvarchar(15) NOT NULL,
	differences nvarchar(15) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_kol_masrafi_daftar DEFAULT ((0)) FOR kol_masrafi_daftar
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_pookeh DEFAULT ((0)) FOR pookeh
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_last_tedad_on_date_daftar DEFAULT ((0)) FOR last_tedad_on_date_daftar
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_nowtedad_daftar DEFAULT ((0)) FOR nowtedad_daftar
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_kol_masrafi_sandogh DEFAULT ((0)) FOR kol_masrafi_sandogh
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_last_tedad_on_date_sandogh DEFAULT ((0)) FOR last_tedad_on_date_sandogh
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_nowtedad_kol DEFAULT 0 FOR nowtedad_kol
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_nowtedad_sandogh DEFAULT ((0)) FOR nowtedad_sandogh
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_nowtedad_parastar DEFAULT 0 FOR nowtedad_parastar
GO
ALTER TABLE dbo.Tmp_amar_records ADD CONSTRAINT
	DF_amar_records_difference DEFAULT ((0)) FOR differences
GO
IF EXISTS(SELECT * FROM dbo.amar_records)
	 EXEC('INSERT INTO dbo.Tmp_amar_records (date, reg_date, daru_name, kol_masrafi_daftar, pookeh, last_tedad_on_date_daftar, nowtedad_daftar, kol_masrafi_sandogh, last_tedad_on_date_sandogh, nowtedad_sandogh, differences)
		SELECT date, reg_date, daru_name, kol_masrafi_daftar, pookeh, last_tedad_on_date_daftar, nowtedad_daftar, kol_masrafi_sandogh, last_tedad_on_date_sandogh, nowtedad_sandogh, differences FROM dbo.amar_records WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.amar_records
GO
EXECUTE sp_rename N'dbo.Tmp_amar_records', N'amar_records', 'OBJECT' 
GO
COMMIT
