USE [ARC]
GO
/****** Object:  Table [dbo].[parastar_anbar]    Script Date: 01/13/2012 01:23:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parastar_anbar](
	[daru_name] [nvarchar](50) NOT NULL,
	[mandeh] [float] NOT NULL CONSTRAINT [DF_parastar_anbar_mandeh]  DEFAULT ((0)),
	[vahed] [nvarchar](15) NULL,
 CONSTRAINT [PK_parastar_anbar] PRIMARY KEY CLUSTERED 
(
	[daru_name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
