USE [ARC]
GO
/****** Object:  Table [dbo].[tajviz_anbar_history]    Script Date: 01/13/2012 01:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tajviz_anbar_history](
	[id] [bigint] NOT NULL,
	[contactid] [nchar](4) NOT NULL CONSTRAINT [DF_tajviz_anbar_history_contactid]  DEFAULT ((0)),
	[contactname] [nvarchar](100) NULL CONSTRAINT [DF_tajviz_anbar_history_contactname]  DEFAULT (N'پرستار'),
	[date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[tedad] [float] NOT NULL,
	[comments] [nvarchar](250) NULL,
 CONSTRAINT [PK_tajviz_anbar_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
