USE [ARC]
GO
/****** Object:  Table [dbo].[contact_anbar]    Script Date: 01/15/2012 23:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_anbar](
	[contactid] [nchar](4) NOT NULL,
	[contactname] [nvarchar](100) NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[mandeh] [float] NOT NULL CONSTRAINT [DF_contact_anbar_mandeh]  DEFAULT ((0)),
	[vahed] [nvarchar](15) NULL,
 CONSTRAINT [PK_contact_anbar] PRIMARY KEY CLUSTERED 
(
	[contactid] ASC,
	[daru_name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
