USE [ARC]
GO
/****** Object:  Table [dbo].[action_logs]    Script Date: 09/15/2011 16:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[action_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sharh] [nvarchar](max) NOT NULL,
	[user_code] [nvarchar](2) NOT NULL,
	[user_name] [nvarchar](51) NULL,
	[date] [nchar](10) NOT NULL,
	[time] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_action_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
