use arc
select  distinct top(2) tahvil_date, code from tahvil_koli where (tedad<>0 and id=N'0024') order by tahvil_date desc, code desc
--select  * from tahvil where (id=N'0024') order by tahvil_date desc

SELECT distinct 'متادون' + str( isnull(t1.tedad,0) + isnull(t2.tedad,0) + isnull(t3.tedad,0) + isnull(t4.tedad,0)) as Doze
FROM tahvil t0
left JOIN ( SELECT tedad*5 as tedad,code FROM tahvil where(daru_name=N'شربت متادون' and date=tahvil_date  and code=N'21402')) t1 ON t0.code = t1.code
left JOIN ( SELECT tedad*5 as tedad,code FROM tahvil where(daru_name=N'قرص متادون 5' and date=tahvil_date  and code=N'21402')) t2 ON t0.code = t2.code
left JOIN ( SELECT tedad*20 as tedad, code FROM tahvil where(daru_name=N'قرص متادون 20' and date=tahvil_date  and code=N'21402')) t3 ON t0.code = t3.code
left JOIN ( SELECT tedad*40 as tedad, code FROM tahvil where(daru_name=N'قرص متادون 40' and date=tahvil_date and code=N'21402')) t4 ON t0.code = t4.code
Where (t0.code=N'21402'  and t0.daru_name like N'%متادون%' and t0.date=t0.tahvil_date)


SELECT distinct 'متادون=' + ltrim(str( isnull(t1.tedad,0) + isnull(t2.tedad,0) + isnull(t3.tedad,0) + isnull(t4.tedad,0))) +':'+'بوپرنورفین=' + ltrim(str( isnull(t5.tedad,0) + isnull(t6.tedad,0) + isnull(t7.tedad,0)))+':'+'سوباکسون=' + ltrim(str(isnull(t8.tedad,0) + isnull(t9.tedad,0))) as Doze
FROM tahvil t0
left JOIN ( SELECT tedad*5 as tedad,code FROM tahvil where(daru_name=N'شربت متادون' and date=tahvil_date  and code=N'20733')) t1 ON t0.code = t1.code
left JOIN ( SELECT tedad*5 as tedad,code FROM tahvil where(daru_name=N'قرص متادون 5' and date=tahvil_date  and code=N'20733')) t2 ON t0.code = t2.code
left JOIN ( SELECT tedad*20 as tedad, code FROM tahvil where(daru_name=N'قرص متادون 20' and date=tahvil_date  and code=N'20733')) t3 ON t0.code = t3.code
left JOIN ( SELECT tedad*40 as tedad, code FROM tahvil where(daru_name=N'قرص متادون 40' and date=tahvil_date and code=N'20733')) t4 ON t0.code = t4.code
left JOIN ( SELECT tedad*0.4 as tedad,code FROM tahvil where(daru_name=N'قرص بوپرنورفین 0.4' and date=tahvil_date  and code=N'20733')) t5 ON t0.code = t5.code
left JOIN ( SELECT tedad*2 as tedad,code FROM tahvil where(daru_name=N'قرص بوپرنورفین 2' and date=tahvil_date  and code=N'20733')) t6 ON t0.code = t6.code
left JOIN ( SELECT tedad*8 as tedad, code FROM tahvil where(daru_name=N'قرص بوپرنورفین 8' and date=tahvil_date  and code=N'20733')) t7 ON t0.code = t7.code
left JOIN ( SELECT tedad*2 as tedad,code FROM tahvil where(daru_name=N'قرص سوباکسون 2' and date=tahvil_date  and code=N'20733')) t8 ON t0.code = t8.code
left JOIN ( SELECT tedad*8 as tedad, code FROM tahvil where(daru_name=N'قرص سوباکسون 8' and date=tahvil_date  and code=N'20733')) t9 ON t0.code = t9.code
Where (t0.code=N'20733' and t0.date=t0.tahvil_date)

SELECT distinct 'متادون=' + ltrim(str( isnull(t1.tedad,0) + isnull(t2.tedad,0) + isnull(t3.tedad,0) + isnull(t4.tedad,0))) +':'+'بوپرنورفین=' + ltrim(str( isnull(t5.tedad,0) + isnull(t6.tedad,0) + isnull(t7.tedad,0)))+':'+'سوباکسون=' + ltrim(str(isnull(t8.tedad,0) + isnull(t9.tedad,0))) as Doze
FROM tahvil t0
left JOIN ( SELECT tedad*5 as tedad,code FROM tahvil where(daru_name=N'شربت متادون' and date=tahvil_date  and (code=N'20733' or code=N'21402'))) t1 ON t0.code = t1.code
left JOIN ( SELECT tedad*5 as tedad,code FROM tahvil where(daru_name=N'قرص متادون 5' and date=tahvil_date  and (code=N'20733' or code=N'21402'))) t2 ON t0.code = t2.code
left JOIN ( SELECT tedad*20 as tedad, code FROM tahvil where(daru_name=N'قرص متادون 20' and date=tahvil_date  and (code=N'20733' or code=N'21402'))) t3 ON t0.code = t3.code
left JOIN ( SELECT tedad*40 as tedad, code FROM tahvil where(daru_name=N'قرص متادون 40' and date=tahvil_date and (code=N'20733' or code=N'21402'))) t4 ON t0.code = t4.code
left JOIN ( SELECT tedad*0.4 as tedad,code FROM tahvil where(daru_name=N'قرص بوپرنورفین 0.4' and date=tahvil_date  and (code=N'20733' or code=N'21402'))) t5 ON t0.code = t5.code
left JOIN ( SELECT tedad*2 as tedad,code FROM tahvil where(daru_name=N'قرص بوپرنورفین 2' and date=tahvil_date  and (code=N'20733' or code=N'21402'))) t6 ON t0.code = t6.code
left JOIN ( SELECT tedad*8 as tedad, code FROM tahvil where(daru_name=N'قرص بوپرنورفین 8' and date=tahvil_date  and (code=N'20733' or code=N'21402'))) t7 ON t0.code = t7.code
left JOIN ( SELECT tedad*2 as tedad,code FROM tahvil where(daru_name=N'قرص سوباکسون 2' and date=tahvil_date  and (code=N'20733' or code=N'21402'))) t8 ON t0.code = t8.code
left JOIN ( SELECT tedad*8 as tedad, code FROM tahvil where(daru_name=N'قرص سوباکسون 8' and date=tahvil_date  and (code=N'20733' or code=N'21402'))) t9 ON t0.code = t9.code
Where ((t0.code=N'20733' or t0.code=N'21402') and t0.date=t0.tahvil_date)
