USE [ARC]
GO
/****** Object:  Table [dbo].[amar_records]    Script Date: 12/26/2011 16:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amar_records](
	[date] [nchar](10) NOT NULL,
	[reg_date] [nchar](10) NOT NULL,
	[daru_name] [nvarchar](50) NOT NULL,
	[kol_masrafi_daftar] [nvarchar](15) NOT NULL CONSTRAINT [DF_amar_records_kol_masrafi_daftar]  DEFAULT ((0)),
	[pookeh] [nvarchar](15) NOT NULL CONSTRAINT [DF_amar_records_pookeh]  DEFAULT ((0)),
	[last_tedad_on_date_daftar] [nvarchar](15) NOT NULL CONSTRAINT [DF_amar_records_last_tedad_on_date_daftar]  DEFAULT ((0)),
	[nowtedad_daftar] [nvarchar](15) NOT NULL CONSTRAINT [DF_amar_records_nowtedad_daftar]  DEFAULT ((0)),
	[kol_masrafi_sandogh] [nvarchar](15) NOT NULL CONSTRAINT [DF_amar_records_kol_masrafi_sandogh]  DEFAULT ((0)),
	[last_tedad_on_date_sandogh] [nvarchar](15) NOT NULL CONSTRAINT [DF_amar_records_last_tedad_on_date_sandogh]  DEFAULT ((0)),
	[nowtedad_sandogh] [nvarchar](15) NOT NULL CONSTRAINT [DF_amar_records_nowtedad_sandogh]  DEFAULT ((0)),
	[differences] [nvarchar](15) NOT NULL CONSTRAINT [DF_amar_records_difference]  DEFAULT ((0))
) ON [PRIMARY]
