/*
   Sunday, March 10, 20131:38:25 PM
   User: 
   Server: PARSA-PC\SQLEXPRESS
   Database: ARC
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Map_BtoG
	DROP CONSTRAINT FK_Map_BtoG_mos_list
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Map_BtoG
	(
	code bigint NOT NULL,
	id nvarchar(15) NOT NULL,
	qoverdose nvarchar(3) NULL,
	qb1 nvarchar(3) NULL,
	qb2_1 nvarchar(3) NULL,
	qb2_2 nvarchar(3) NULL,
	qb2_3 nvarchar(3) NULL,
	qb2_4 nvarchar(3) NULL,
	qb3 nvarchar(20) NULL,
	qb4 nvarchar(100) NULL,
	qb5 nvarchar(100) NULL,
	qb6 nvarchar(50) NULL,
	qb7 nvarchar(50) NULL,
	qb8 nvarchar(50) NULL,
	qb9_1 nvarchar(3) NULL,
	qb9_2 nvarchar(10) NULL,
	qb9_3 nvarchar(100) NULL,
	qc1 nvarchar(3) NULL,
	qc2 nvarchar(3) NULL,
	qc3 nvarchar(3) NULL,
	qc4 nvarchar(3) NULL,
	qc5 nvarchar(3) NULL,
	qd1 nvarchar(15) NULL,
	qd2 nvarchar(15) NULL,
	qd3 nvarchar(15) NULL,
	qd4 nvarchar(15) NULL,
	qd5 nvarchar(15) NULL,
	qd6 nvarchar(15) NULL,
	qd7 nvarchar(15) NULL,
	qd8 nvarchar(15) NULL,
	qd9 nvarchar(15) NULL,
	qd10 nvarchar(15) NULL,
	qd11 nvarchar(15) NULL,
	qd12 nvarchar(15) NULL,
	qd13 nvarchar(15) NULL,
	qd14 nvarchar(15) NULL,
	qd15 nvarchar(15) NULL,
	qd16 nvarchar(15) NULL,
	qd17 nvarchar(15) NULL,
	qd18 nvarchar(15) NULL,
	qd19 nvarchar(15) NULL,
	qd20 nvarchar(15) NULL,
	qe1 nvarchar(3) NULL,
	qe2 nvarchar(3) NULL,
	qe3 nvarchar(3) NULL,
	qe4 nvarchar(3) NULL,
	qe5 nvarchar(3) NULL,
	qe6 nvarchar(3) NULL,
	qe7 nvarchar(3) NULL,
	qf1 nchar(4) NULL,
	qf2 nvarchar(3) NULL,
	qf3 nvarchar(60) NULL,
	qf4 nvarchar(60) NULL,
	qf5 nvarchar(50) NULL,
	qf6 nvarchar(15) NULL,
	qg1 nvarchar(3) NULL,
	qg2 nvarchar(3) NULL,
	qg3 nvarchar(3) NULL
	)  ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.Map_BtoG)
	 EXEC('INSERT INTO dbo.Tmp_Map_BtoG (code, id, qoverdose, qb1, qb2_1, qb2_2, qb2_3, qb2_4, qb3, qb4, qb5, qb6, qb7, qb8, qb9_1, qb9_2, qb9_3, qc1, qc2, qc3, qc4, qc5, qd1, qd2, qd3, qd4, qd5, qd6, qd7, qd8, qd9, qd10, qd11, qd12, qd13, qd14, qd15, qd16, qd17, qd18, qd19, qd20, qe1, qe2, qe3, qe4, qe5, qe6, qe7, qf1, qf2, qf3, qf4, qf5, qf6, qg1, qg2, qg3)
		SELECT code, CONVERT(nvarchar(15), id), qoverdose, qb1, qb2_1, qb2_2, qb2_3, qb2_4, qb3, qb4, qb5, qb6, qb7, qb8, qb9_1, qb9_2, qb9_3, qc1, qc2, qc3, qc4, qc5, qd1, qd2, qd3, qd4, qd5, qd6, qd7, qd8, qd9, qd10, qd11, qd12, qd13, qd14, qd15, qd16, qd17, qd18, qd19, qd20, qe1, qe2, qe3, qe4, qe5, qe6, qe7, qf1, qf2, qf3, qf4, qf5, qf6, qg1, qg2, qg3 FROM dbo.Map_BtoG WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.Map_BtoG
GO
EXECUTE sp_rename N'dbo.Tmp_Map_BtoG', N'Map_BtoG', 'OBJECT' 
GO
ALTER TABLE dbo.Map_BtoG ADD CONSTRAINT
	FK_Map_BtoG_mos_list FOREIGN KEY
	(
	code
	) REFERENCES dbo.mos_list
	(
	code
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
