/*
   Sunday, March 10, 20131:38:52 PM
   User: 
   Server: PARSA-PC\SQLEXPRESS
   Database: ARC
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MAP_History
	DROP CONSTRAINT FK_MAP_History_mos_list
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_MAP_History
	(
	code bigint NOT NULL,
	id nvarchar(15) NOT NULL,
	masrafi_type nvarchar(50) NULL,
	start_age nvarchar(3) NULL,
	rooz nvarchar(3) NULL,
	masraf_life nvarchar(6) NULL,
	tarigheh nvarchar(30) NULL
	)  ON [PRIMARY]
GO
IF EXISTS(SELECT * FROM dbo.MAP_History)
	 EXEC('INSERT INTO dbo.Tmp_MAP_History (code, id, masrafi_type, start_age, rooz, masraf_life, tarigheh)
		SELECT code, CONVERT(nvarchar(15), id), masrafi_type, start_age, rooz, masraf_life, tarigheh FROM dbo.MAP_History WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.MAP_History
GO
EXECUTE sp_rename N'dbo.Tmp_MAP_History', N'MAP_History', 'OBJECT' 
GO
ALTER TABLE dbo.MAP_History ADD CONSTRAINT
	FK_MAP_History_mos_list FOREIGN KEY
	(
	code
	) REFERENCES dbo.mos_list
	(
	code
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
