/*
   Sunday, March 10, 20131:37:57 PM
   User: 
   Server: PARSA-PC\SQLEXPRESS
   Database: ARC
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MAP_A
	DROP CONSTRAINT FK_MAP_A_mos_list
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MAP_A
	DROP CONSTRAINT DF_MAP_A_rooz
GO
ALTER TABLE dbo.MAP_A
	DROP CONSTRAINT DF_MAP_A_mizan
GO
CREATE TABLE dbo.Tmp_MAP_A
	(
	code bigint NOT NULL,
	id nvarchar(15) NOT NULL,
	masrafi_type nvarchar(50) NULL,
	rooz nvarchar(3) NULL,
	mizan nvarchar(5) NULL,
	tarigheh nvarchar(50) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_MAP_A ADD CONSTRAINT
	DF_MAP_A_rooz DEFAULT ((0)) FOR rooz
GO
ALTER TABLE dbo.Tmp_MAP_A ADD CONSTRAINT
	DF_MAP_A_mizan DEFAULT ((0)) FOR mizan
GO
IF EXISTS(SELECT * FROM dbo.MAP_A)
	 EXEC('INSERT INTO dbo.Tmp_MAP_A (code, id, masrafi_type, rooz, mizan, tarigheh)
		SELECT code, CONVERT(nvarchar(15), id), masrafi_type, rooz, mizan, tarigheh FROM dbo.MAP_A WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.MAP_A
GO
EXECUTE sp_rename N'dbo.Tmp_MAP_A', N'MAP_A', 'OBJECT' 
GO
ALTER TABLE dbo.MAP_A ADD CONSTRAINT
	FK_MAP_A_mos_list FOREIGN KEY
	(
	code
	) REFERENCES dbo.mos_list
	(
	code
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
COMMIT
