USE [ARC]
GO
/****** Object:  Table [dbo].[sick_history_daftari]    Script Date: 12/25/2012 09:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sick_history_daftari](
	[radif] [bigint] NOT NULL CONSTRAINT [DF_sick_history_daftari_radif]  DEFAULT ((0)),
	[ghabz_id] [nchar](6) NULL,
	[sick_id] [nchar](4) NOT NULL,
	[sharh] [nvarchar](100) NULL,
	[date] [nchar](10) NULL,
	[bedehkari] [bigint] NULL CONSTRAINT [DF_sick_history_daftari_bedehkari]  DEFAULT ((0)),
	[bestankari] [bigint] NULL CONSTRAINT [DF_sick_history_daftari_bestankari]  DEFAULT ((0)),
	[tashkhis] [nvarchar](8) NULL,
	[mandeh] [bigint] NULL CONSTRAINT [DF_sick_history_daftari_mandeh]  DEFAULT ((0)),
 CONSTRAINT [PK_sick_history_daftari] PRIMARY KEY CLUSTERED 
(
	[radif] ASC,
	[sick_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[sick_history_daftari]  WITH CHECK ADD  CONSTRAINT [FK_sick_history_daftari_Sicks] FOREIGN KEY([sick_id])
REFERENCES [dbo].[Sicks] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sick_history_daftari] CHECK CONSTRAINT [FK_sick_history_daftari_Sicks]