/*
   Monday, December 24, 201210:10:22 AM
   User: 
   Server: PARSA-PC\SQLEXPRESS
   Database: ARC
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Gen_Settings ADD
	DaftariPayType nvarchar(6) NOT NULL CONSTRAINT DF_Gen_Settings_DaftariPayType DEFAULT N'ماهانه',
	BazrasKey nvarchar(50) NOT NULL CONSTRAINT DF_Gen_Settings_BazrasKey DEFAULT N'F12'
GO
COMMIT
