USE [mehr]
GO
/****** Object:  Table [dbo].[nemooneh]    Script Date: 05/31/2011 21:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nemooneh](
	[context] [nvarchar](max) NOT NULL,
	[type] [nvarchar](20) NOT NULL
) ON [PRIMARY]
USE [mehr]
GO
/****** Object:  Table [dbo].[ravanshenas]    Script Date: 05/31/2011 21:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[ravanshenas](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[doctor_name] [nvarchar](50) NULL,
	[darman_date] [nchar](10) NULL,
	[date] [nchar](10) NOT NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_ravanshenas] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


USE [mehr]
GO
/****** Object:  Table [dbo].[dastoor_pezeshk]    Script Date: 05/31/2011 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dastoor_pezeshk](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[doctor_name] [nvarchar](50) NULL,
	[darman_date] [nchar](10) NULL,
	[date] [nchar](10) NOT NULL,
	[pre_text] [nvarchar](max) NULL,
	[azmayesh] [nvarchar](60) NULL,
 CONSTRAINT [PK_dastoor_pezeshk] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


USE [mehr]
GO
/****** Object:  Table [dbo].[azmayesh]    Script Date: 05/31/2011 21:34:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[azmayesh](
	[code] [bigint] NOT NULL,
	[sick_id] [nchar](4) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[darman_date] [nchar](10) NULL,
	[type] [nvarchar](50) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[result] [nchar](4) NOT NULL,
	[comments] [nvarchar](50) NULL,
 CONSTRAINT [PK_azmayesh] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
